{% extends 'register.html.twig' %}

{% from 'macros/flashes.html.twig' import flash %}

{% block title %}Registrarse{% endblock %}

{% block content %}
    <div class="col-lg-5 d-none d-lg-flex">
        <div class="flex-grow-1 bg-register-image"
             style="background-image: url({{ asset('img/camera/arno-senoner-42t-DKecmPk-unsplash.jpg') }});"></div>
    </div>
    <div class="col-lg-7">
        <div class="p-5">
            <div class="text-center">
                <h4 class="text-dark mb-4">
                    <div class="sidebar-brand-icon rotate-n-15" style="display:inline">
                        <i class="typcn typcn-video-outline"></i>
                    </div>
                    Registrarse en el sistema!
                </h4>
            </div>
            {{ form_start(form) }}
                <hr>
            {% if error %}
                {{ flash('danger', message) }}
            {% endif %}
                <br><br>
                <div class="row mb-3">
                    <div class="col-sm-6 mb-3 mb-sm-0 input-group" style="width:50%">
                        <span class="input-group-text login-text-icon" id="basic-addon1">
                            <i class="fas fa-edit"></i>
                        </span>
                        {{ form_widget(form.name) }}
                    </div>
                    <div class="col-sm-6 input-group" style="width:50%">
                        <span class="input-group-text login-text-icon" id="basic-addon1">
                            <i class="fas fa-edit"></i>
                        </span>
                        {{ form_widget(form.lastname) }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-6 mb-3 mb-sm-0 input-group" style="width:50%">
                        {{ form_errors(form.name) }}
                    </div>
                    <div class="col-sm-6 input-group" style="width:50%">
                        {{ form_errors(form.lastname) }}
                    </div>
                </div>

                <div class="mb-3 input-group">
                    <span class="input-group-text login-text-icon" id="basic-addon1">
                        <i class="fas fa-user"></i>
                    </span>
                    {{ form_widget(form.username) }}
                </div>
                <div class="mb-3 input-group">
                    {{ form_errors(form.username) }}
                </div>

                <div class="row mb-3">
                    <div class="col-sm-6 mb-3 mb-sm-0 input-group" style="width:50%">
                        <span class="input-group-text login-text-icon" id="basic-addon1">
                            <i class="fas fa-lock"></i>
                        </span>
                        {{ form_widget(form.plainPassword.first) }}
                    </div>

                    <div class="col-sm-6 input-group login-text-icon" style="width:50%">
                        <span class="input-group-text login-text-icon" id="basic-addon1">
                            <i class="fas fa-lock"></i>
                        </span>
                        {{ form_widget(form.plainPassword.second) }}
                    </div>
                </div>
                <div class="mb-3">
                    {{ form_errors(form.plainPassword.first) }}
                </div>
                <div class="mb-3 input-group">
                    <div class="form-check">
                        {{ form_widget(form.agreeTerms) }}
                        <label class="form-check-label" for="formCheck-1">
                            <strong>Aceptar términos</strong>
                        </label>
                        {{ form_errors(form.agreeTerms) }}
                    </div>
                </div>
                <button class="btn btn-primary d-block btn-user w-100" type="submit">
                    <i class="fas fa-user-plus"></i> Crear Cuenta
                </button>
                <br><br>
                <hr>
            {{ form_end(form) }}
            <div class="text-center">
                <a class="btn btn-primary d-block btn-user w-100 btn-google link-button" href="{{ path('app_login') }}">
                    <i class="fas fa-user-lock"></i> Ya tiene una cuenta? Entre al sistema!
                </a>
            </div>
        </div>
    </div>
{% endblock %}
