{% extends 'register.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
    {#    <h1>Register</h1> #}

    {#    {{ form_errors(registrationForm) }} #}

    {#    {{ form_start(registrationForm) }} #}
    {#        {{ form_row(registrationForm.username) }} #}
    {#        {{ form_row(registrationForm.plainPassword, { #}
    {#            label: 'Password' #}
    {#        }) }} #}
    {#        {{ form_row(registrationForm.agreeTerms) }} #}

    {#        <button type="submit" class="btn">Register</button> #}
    {#    {{ form_end(registrationForm) }} #}

    <div class="col-lg-5 d-none d-lg-flex">
        <div class="flex-grow-1 bg-register-image"
             style="background-image: url({{ asset('img/camera/arno-senoner-42t-DKecmPk-unsplash.jpg') }});"></div>
    </div>
    <div class="col-lg-7">
        <div class="p-5">
            <div class="text-center">
                <h4 class="text-dark mb-4">
                    <div class="sidebar-brand-icon rotate-n-15" style="display:inline">
                        <i class="typcn typcn-video-outline"></i>
                    </div>
                    Registrarse en el sistema!
                </h4>
            </div>
            <form class="user">
                <hr>
                <br><br>
                <div class="row mb-3">
                    <div class="col-sm-6 mb-3 mb-sm-0 input-group" style="width:50%">
                        <span class="input-group-text login-text-icon" id="basic-addon1">
                            <i class="fas fa-edit"></i>
                        </span>
                        <input class="form-control form-control-user no-border-left" type="text" id="exampleFirstName"
                               placeholder="Nombre" name="first_name">
                    </div>
                    <div class="col-sm-6 input-group" style="width:50%">
                        <span class="input-group-text login-text-icon" id="basic-addon1">
                            <i class="fas fa-edit"></i>
                        </span>
                        <input class="form-control form-control-user no-border-left" type="text" id="exampleFirstName"
                               placeholder="Apellidos" name="last_name">
                    </div>
                </div>

                <div class="mb-3 input-group">
                    <span class="input-group-text login-text-icon" id="basic-addon1">
                        <i class="fas fa-user"></i>
                    </span>
                    <input class="form-control form-control-user no-border-left" type="email" id="exampleInputEmail"
                           aria-describedby="emailHelp" placeholder="Usuario" name="email">
                </div>

                <div class="row mb-3">
                    <div class="col-sm-6 mb-3 mb-sm-0 input-group" style="width:50%">
                        <span class="input-group-text login-text-icon" id="basic-addon1">
                            <i class="fas fa-lock"></i>
                        </span>
                        <input class="form-control form-control-user no-border-left" type="password"
                               id="examplePasswordInput" placeholder="Contraseña" name="password">
                    </div>

                    <div class="col-sm-6 input-group login-text-icon" style="width:50%">
                        <span class="input-group-text login-text-icon" id="basic-addon1">
                            <i class="fas fa-lock"></i>
                        </span>
                        <input class="form-control form-control-user no-border-left" type="password"
                               id="exampleRepeatPasswordInput" placeholder="Repetir contraseña"
                               name="password_repeat">
                    </div>
                </div>
                <button class="btn btn-primary d-block btn-user w-100" type="submit">
                    <i class="fas fa-user-plus"></i> Crear Cuenta
                </button>
                <br><br>
                <hr>
            </form>
            <div class="text-center">
                <a class="btn btn-primary d-block btn-user w-100 btn-google link-button" href="#">
                    <i class="fas fa-user-lock"></i> Ya tiene una cuenta? Entre al sistema!
                </a>
            </div>
        </div>
    </div>
{% endblock %}
