{% extends 'content.html.twig' %}

{% block title %}Conexiones{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-8">
            <h3 class="text-dark mb-4">Conexión directa</h3>
        </div>
        <div class="col-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                    <li class="breadcrumb-item"><a href="#">Conexiones</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Conexión directa</li>
                </ol>
            </nav>
        </div>
    </div>

    {% embed "embeds/table.html.twig" with {'paginator': paginator} %}
        {% block card_css_class %}mb-4{% endblock %}
        {% block card_header_css_class %}d-flex justify-content-between align-items-center{% endblock %}

        {% block card_title %}
            Switch
        {% endblock %}

        {% block card_options %}
            <div>
                <button class="btn btn-primary btn-sm active" aria-current="page" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    <i class="fas fa-plus"></i>
                    Nuevo
                </button>
{#                <a href="#" class="btn btn-primary btn-sm" aria-current="page">#}
{#                    <i class="fas fa-search"></i>#}
{#                    Existente#}
{#                </a>#}
            </div>
        {% endblock %}

        {% block table_head %}
            <tr>
                <th>Ip</th>
                <th>Gateway</th>
                <th>Número de inventario</th>
                <th>Dirección física</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Contic</th>
                <th>Serie</th>
                <th></th>
            </tr>
        {% endblock %}

        {% block table_body %}
            {% for commutator in paginator.getData() %}
                <tr>
                    <td>{{ commutator.ip }}</td>
                    <td>{{ commutator.gateway }}</td>
                    <td>{{ commutator.inventory }}</td>
                    <td>{{ commutator.physicalAddress }}</td>
                    <td>{{ commutator.brand }}</td>
                    <td>{{ commutator.model }}</td>
                    <td>{{ commutator.contic }}</td>
                    <td>{{ commutator.physicalSerial }}</td>
                    <td>
                        <a href="#" class="btn btn-primary btn-sm active" aria-current="page">
                            <i class="fas fa-eye"></i>
                            Detalle
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">
                        No se encontraron registros
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}

        {% block table_footer %}
            {#                    <tr> #}
            {#                        <td><strong>Name</strong></td> #}
            {#                        <td><strong>Position</strong></td> #}
            {#                        <td><strong>Office</strong></td> #}
            {#                        <td><strong>Age</strong></td> #}
            {#                        <td><strong>Start date</strong></td> #}
            {#                        <td><strong>Salary</strong></td> #}
            {#                    </tr> #}
        {% endblock %}

        {% block extra %}
            <hr>
            <div class="row">
                <div class="col-4">
                    <div class="card text-bg-info border-primary">
                        <div class="card-header text-bg-info fw-bold text-white">Detalles:</div>
{#                        <ul class="list-group list-group-flush">#}
{#                            <li class="list-group-item fw-bold">IP:#}
{#                                <span class="fw-light">192.168.34.171</span>#}
{#                            </li>#}
{#                            <li class="list-group-item fw-bold">Gateway:#}
{#                                <span>192.168.34.171</span>#}
{#                            </li>#}
{#                            <li class="list-group-item fw-bold">Inventario:#}
{#                                <span>192.168.34.171</span>#}
{#                            </li>#}
{#                            <li class="list-group-item fw-bold">Dirección física:#}
{#                                <span>192.168.34.171</span>#}
{#                            </li>#}
{#                            <li class="list-group-item fw-bold">Marca:#}
{#                                <span>192.168.34.171</span>#}
{#                            </li>#}
{#                            <li class="list-group-item fw-bold">Modelo:#}
{#                                <span>192.168.34.171</span>#}
{#                            </li>#}
{#                            <li class="list-group-item fw-bold">Contic:#}
{#                                <span>192.168.34.171</span>#}
{#                            </li>#}
{#                            <li class="list-group-item fw-bold">Serie:#}
{#                                <span>192.168.34.171</span>#}
{#                            </li>#}
{#                        </ul>#}
                        <ul class="list-group list-group-horizontal list-group-flush border-0">
                            <li class="list-group-item w-50 fw-bold" style="border-radius: 0">
                                IP:
                            </li>
                            <li class="list-group-item w-50" style="border-radius: 0">
                                192.168.34.171
                            </li>
                        </ul>
                        <ul class="list-group list-group-horizontal list-group-flush border-0">
                            <li class="list-group-item w-50 fw-bold" style="border-radius: 0">
                                Gateway:
                            </li>
                            <li class="list-group-item w-50" style="border-radius: 0">
                                192.168.34.171
                            </li>
                        </ul>
                        <ul class="list-group list-group-horizontal list-group-flush border-0">
                            <li class="list-group-item w-50 fw-bold" style="border-radius: 0">
                                Inventario:
                            </li>
                            <li class="list-group-item w-50" style="border-radius: 0">
                                123ABC
                            </li>
                        </ul>
                        <ul class="list-group list-group-horizontal list-group-flush border-0">
                            <li class="list-group-item w-50 fw-bold" style="border-radius: 0">
                                Dirección física:
                            </li>
                            <li class="list-group-item w-50" style="border-radius: 0">
                                A third item
                            </li>
                        </ul>
                        <ul class="list-group list-group-horizontal list-group-flush border-0">
                            <li class="list-group-item w-50 fw-bold" style="border-radius: 0">
                                Marca:
                            </li>
                            <li class="list-group-item w-50" style="border-radius: 0">
                                Samsum
                            </li>
                        </ul>
                        <ul class="list-group list-group-horizontal list-group-flush border-0">
                            <li class="list-group-item w-50 fw-bold" style="border-radius: 0">
                                Modelo:
                            </li>
                            <li class="list-group-item w-50" style="border-radius: 0">
                                A-21
                            </li>
                        </ul>
                        <ul class="list-group list-group-horizontal list-group-flush border-0">
                            <li class="list-group-item w-50 fw-bold" style="border-radius: 0">
                                Contic:
                            </li>
                            <li class="list-group-item w-50" style="border-radius: 0">

                            </li>
                        </ul>
                        <ul class="list-group list-group-horizontal list-group-flush border-0">
                            <li class="list-group-item w-50 fw-bold" style="border-radius: 0">
                                Serie:
                            </li>
                            <li class="list-group-item w-50" style="border-radius: 0">
                                123ABC
                            </li>
                        </ul>
                        <ul class="list-group list-group-horizontal list-group-flush border-0">
                            <li class="list-group-item w-50 fw-bold" style="border-radius: 0">
                                Provincia:
                            </li>
                            <li class="list-group-item w-50" style="border-radius: 0">
                                La Habana
                            </li>
                        </ul>
                        <ul class="list-group list-group-horizontal list-group-flush border-0">
                            <li class="list-group-item w-50 fw-bold" style="">
                                Municipio:
                            </li>
                            <li class="list-group-item w-50" style="border-top-right-radius: 0">
                                Arroyo Naranjo
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-8">
                    <div class="row">
                        <div class="col-3 mb-4">
                            <div class="card text-white bg-gradient-success shadow">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col-auto">
                                            <i class="fas fa-check-circle fa-2x text-gray-300"></i>
                                        </div>
                                        <div class="col me-2">
                                            <div class="text-uppercase text-white fw-bold text-xs mb-1"><span>5 mb/s - Sw</span></div>
                                            <div class="text-white fw-bold h5 mb-0"><span>Puerto 1</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-3 mb-4">
                            <div class="card text-white bg-gradient-danger shadow">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col-auto">
                                            <i class="fas fa-circle fa-2x text-gray-300"></i>
                                        </div>
                                        <div class="col me-2">
                                            <div class="text-uppercase text-white fw-bold text-xs mb-1"><span>1 mb/s</span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>Puerto 2</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-3 mb-4">
                            <div class="card text-white bg-primary shadow">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col-auto">
                                            <i class="fas fa-check-circle fa-2x text-gray-300"></i>
                                        </div>
                                        <div class="col me-2">
                                            <div class="text-uppercase text-white fw-bold text-xs mb-1"><span>5 mb/s - C</span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>Puerto 1</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-3 mb-4">
                            <div class="card text-white bg-primary shadow">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col-auto">
                                            <i class="fas fa-check-circle fa-2x text-gray-300"></i>
                                        </div>
                                        <div class="col me-2">
                                            <div class="text-uppercase text-white fw-bold text-xs mb-1"><span>5 mb/s</span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>Puerto 1</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-3 mb-4">
                            <div class="card text-white bg-primary shadow">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col-auto">
                                            <i class="fas fa-check-circle fa-2x text-gray-300"></i>
                                        </div>
                                        <div class="col me-2">
                                            <div class="text-uppercase text-white fw-bold text-xs mb-1"><span>5 mb/s</span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>Puerto 1</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-3 mb-4">
                            <div class="card text-white bg-gradient-success shadow">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col-auto">
                                            <i class="fas fa-check-circle fa-2x text-gray-300"></i>
                                        </div>
                                        <div class="col me-2">
                                            <div class="text-uppercase text-white fw-bold text-xs mb-1"><span>5 mb/s - Sw</span></div>
                                            <div class="text-white fw-bold h5 mb-0"><span>Puerto 1</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-3 mb-4">
                            <div class="card text-white bg-gradient-danger shadow">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col-auto">
                                            <i class="fas fa-circle fa-2x text-gray-300"></i>
                                        </div>
                                        <div class="col me-2">
                                            <div class="text-uppercase text-white fw-bold text-xs mb-1"><span>1 mb/s</span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>Puerto 2</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-3 mb-4">
                            <div class="card text-white bg-primary shadow">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col-auto">
                                            <i class="fas fa-check-circle fa-2x text-gray-300"></i>
                                        </div>
                                        <div class="col me-2">
                                            <div class="text-uppercase text-white fw-bold text-xs mb-1"><span>5 mb/s - C</span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>Puerto 1</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-3 mb-4">
                            <div class="card text-white bg-primary shadow">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col-auto">
                                            <i class="fas fa-check-circle fa-2x text-gray-300"></i>
                                        </div>
                                        <div class="col me-2">
                                            <div class="text-uppercase text-white fw-bold text-xs mb-1"><span>5 mb/s</span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>Puerto 1</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-3 mb-4">
                            <div class="card text-white bg-primary shadow">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col-auto">
                                            <i class="fas fa-check-circle fa-2x text-gray-300"></i>
                                        </div>
                                        <div class="col me-2">
                                            <div class="text-uppercase text-white fw-bold text-xs mb-1"><span>5 mb/s</span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>Puerto 1</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Understood</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal -->
        {% endblock %}
    {% endembed %}

    <div class="card shadow mb-3">
        <div class="card-header d-flex justify-content-between align-items-center">
            <p class="text-primary m-0 fw-bold">Camara</p>
            <div>
                <a href="#" class="btn btn-primary btn-sm active" aria-current="page">
                    <i class="fas fa-plus"></i>
                    Nuevo
                </a>
                <a href="#" class="btn btn-primary btn-sm" aria-current="page">
                    <i class="fas fa-search"></i>
                    Existente
                </a>
            </div>
        </div>
        <div class="card-body">
{#            {{ form_start(form) }}#}
{#            {{ form_row(form.physicalAddress) }}#}
{#            {{ form_row(form.physicalSerial) }}#}
{#            {{ form_row(form.state) }}#}
{#            {{ form_row(form.ip) }}#}
{#            {{ form_row(form.portsAmount) }}#}
{#            {{ form_row(form.gateway) }}#}
{#            {{ component('Address', {#}
{#                'formType': 'App\\Form\\CommutatorType',#}
{#                'data': commutator#}
{#            }) }}#}

{#            <button type="submit">Enviar</button>#}
{#            {{ form_row(form._token) }}#}
{#            {{ form_end(form, {render_rest: false}) }}#}


        </div>
    </div>
{% endblock %}
