{% embed "embeds/card.html.twig" %}
    {% block card_css_class %}mb-4{% endblock %}

    {% block card_header_css_class %}d-flex justify-content-between align-items-center{% endblock %}

    {% block card_title %}{{ title }}{% endblock %}

    {% block card_header_options %}
        <div>
            {% if showButton is defined and showButton == true %}
                <a class="btn btn-primary btn-sm active"
                   data-action="page#showFormContent"
                   href="{{ path('modem_new') }}"
                >
                    <i class="fas fa-plus"></i>
                    Nuevo
                </a>
            {% endif %}
        </div>
    {% endblock %}

    {% block card_body %}
        <div class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Marca:</th>
                        <td>{{ modem.brand }}</td>
                    </tr>
                    <tr>
                        <th>IP</th>
                        <td>{{ modem.ip }}</td>
                    </tr>
                    <tr>
                        <th>Dirección física:</th>
                        <td>{{ modem.physicalAddress }}</td>
                    </tr>
                    <tr>
                        <th>Número de serie físico:</th>
                        <td>{{ modem.physicalSerial }}</td>
                    </tr>
                    <tr>
                        <th>Modelo:</th>
                        <td>{{ modem.model }}</td>
                    </tr>
                    <tr>
                        <th>Número de inventario:</th>
                        <td>{{ modem.inventory }}</td>
                    </tr>
                    <tr>
                        <th>Contic:</th>
                        <td>{{ modem.contic }}</td>
                    </tr>
                    <tr>
                        <th>Estado</th>
                        <td>
                            {% if modem.isActive() %}
                                <span class="badge text-bg-success">Activo</span>
                            {% else %}
                                <span class="badge text-bg-danger">Inactivo</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% if modem.isActive() %}
                        <tr>
                            <th>Conexion:</th>
                            <td>
                                <ul>
                                    {% if modem.port %}
                                        <li><strong>Puerto:</strong> {{ modem.port.number }}</li>
                                        <li>
                                            <strong>Switch:</strong>
                                            <a href="{{ path('commutator_show', {'id':modem.port.commutator.id}) }}">{{ modem.port.commutator }}</a>
                                        </li>
                                        {% if modem.port.commutator.port %}
                                            <li><strong>Puerto:</strong> {{ modem.port.commutator.port.number }}</li>
                                            <li>
                                                <strong>Switch Maestro:</strong>
                                                <a href="{{ path('commutator_show', {'id':modem.port.commutator.port.commutator.id}) }}">{{ modem.port.commutator.port.commutator }}</a>
                                            </li>
                                        {% endif %}
                                    {% endif %}

                                    {% if modem.masterModem %}
                                        <li>
                                            <strong>Modem:</strong>
                                            <a href="{{ path('modem_show', {'id':modem.masterModem.id}) }}">{{ modem.masterModem }}</a>
                                        </li>
                                        <li><strong>Puerto:</strong> {{ modem.masterModem.port.number }}</li>
                                        <li>
                                            <strong>Switch:</strong>
                                            <a href="{{ path('commutator_show', {'id':modem.masterModem.port.commutator.id}) }}">
                                                {{ modem.masterModem.port.commutator }}
                                            </a>
                                        </li>
                                        {% if modem.masterModem.port.commutator.port %}
                                            <li><strong>Puerto:</strong> {{ modem.masterModem.port.commutator.port.number }}</li>
                                            <li>
                                                <strong>Switch Maestro:</strong>
                                                <a href="{{ path('commutator_show', {'id':modem.masterModem.port.commutator.port.commutator.id}) }}">
                                                    {{ modem.masterModem.port.commutator.port.commutator }}
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                </ul>
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    {% endblock %}

    {% block card_footer %}
        {% if showButton is defined and showButton == true %}
            <div class="card-footer text-body-secondary">
                <div class="row">
                    <div class="col-6">
                        <a href="{{ path('modem_index') }}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i>
                            Listado
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="{{ path('modem_edit', {'id': modem.id}) }}" class="btn btn-primary">
                            <i class="fas fa-edit"></i>
                            Editar
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endblock %}
{% endembed %}
