{% embed "embeds/card.html.twig" %}
    {% block card_css_class %}mb-4{% endblock %}

    {% block card_header_css_class %}d-flex justify-content-between align-items-center{% endblock %}

    {% block card_title %}Listado de modems{% endblock %}

    {% block card_header_options %}
        <div>
            <a class="btn btn-primary btn-sm active"
               data-action="page#showFormContent"
               href="{{ path('modem_new') }}"
            >
                <i class="fas fa-plus"></i>
                Nuevo
            </a>
        </div>
    {% endblock %}

    {% block card_body %}
        {% embed "embeds/table.html.twig" %}
            {% block table_head %}
                <tr>
                    <th>IP</th>
                    <th>Marca</th>
                    <th>Model</th>
                    <th>Estado</th>
                    <th>Provincia</th>
                    <th>Municipio</th>
                    <th></th>
                </tr>
            {% endblock %}

            {% block table_body %}
                {% for modem in paginator.getData() %}
                    <tr>
                        <td>{{ modem.ip }}</td>
                        <td>{{ modem.brand }}</td>
                        <td>{{ modem.model }}</td>
                        <td>
                            {% if modem.isActive() %}
                                <a href="{{ path('modem_state') }}"
                                   data-action="click->page#state:prevent"
                                   data-page-id-param="{{ modem.id }}"
                                   data-page-state-param="0"
                                >
                                    <span class="badge text-bg-success">Activo</span>
                                </a>
                            {% else %}
                                <a href="{{ path('modem_state') }}"
                                   data-action="click->page#state:prevent"
                                   data-page-id-param="{{ modem.id }}"
                                   data-page-state-param="1"
                                >
                                    <span class="badge text-bg-danger">Inactivo</span>
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path(app.request.attributes.get('_route'), {'filter': modem.municipality.province}) }}"
                               class="text-decoration-none"
                            >
                                {{ modem.municipality.province }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ path(app.request.attributes.get('_route'), {'filter': modem.municipality}) }}"
                               class="text-decoration-none"
                            >
                                {{ modem.municipality }}
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-sm btn-primary" title="Detalle de la cámara"
                               href="{{ path('modem_show', {'id': modem.id}) }}"
                               data-action="page#showFormContent"
                            >
                                <i class="fas fa-eye"></i>
                            </a>
                            <a class="btn btn-sm btn-primary" title="Editar cámara"
                               href="{{ path('modem_edit', {'id': modem.id}) }}"
                               data-action="page#showFormContent"
                            >
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="btn btn-sm btn-primary position-relative {% if modem.canHaveStructureCable == false %}disabled{% endif %}" title="Cable estructurado"
                                {% if modem.canHaveStructureCable %}
                                    {% if modem.structuredCable is null %}
                                       href="{{ path('structured_cable_new_modem', {'modem':modem.id}) }}"
                                   {% else %}
                                       href="{{ path('structured_cable_edit_modem', {'id':modem.structuredCable.id, 'modem':modem.id}) }}"
                                   {% endif%}
                                   data-action="page#showFormContent"
                               {% endif %}
                            >
                                <i class="fas fa-anchor"></i>
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill {% if modem.structuredCable %}bg-success{% else %}bg-danger{% endif %}">
                                    &nbsp;
                              </span>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="13">No se encontraron modems.</td>
                    </tr>
                {% endfor %}
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}