<div class="col-8" {{ attributes }}>
    {% if slots is not null %}
        <h4>Slots:</h4>
        <hr>
        <div class="row" style="position: relative">
            {% for slot in slots %}
                <div class="col-3 mb-4">
                    <div class="card text-white {{ slot.connection }} {% if selected is same as slot.number %}shadow-lg border-dark{% endif %}" >
                        <div class="card-body" style="padding: 0.5rem">
                            <div
                                    class="row align-items-center no-gutters"
                                        data-action="dblclick->live#action"
                                        data-action-name="select(number={{ slot.number }}, msamId={{ msam.id }})"
                            >
                                <div class="col-auto">
                                    <i class="fas {% if slot.card %}fa-check-circle{% else %}fa-circle{% endif %} fa-2x text-gray-300"></i>

                                </div>
                                <div class="col me-2">
                                    <div class="text-uppercase text-white fw-bold text-xs mb-1">

                                    </div>
                                    <h5 class="card-title">Slot: <span class="fw-bold">{{ slot.number }}</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            {% endfor %}
            <backdrop-component data-loading="addClass(d-block)" class="card-backdrop"></backdrop-component>
        </div>
    {% endif %}

</div>