<div {{ attributes }} style="position: relative">
    {% if port is not null or modem is not null %}
        {% embed "embeds/async_table.html.twig" %}
            {% block table_head %}
                <tr>
                    <th>IP</th>
                    <th>Número de serie</th>
                    <th>Cant. Slots</th>
                    <th>Estado</th>
                    <th>Provincia</th>
                    <th>Municipio</th>
                    <th></th>
                </tr>
            {% endblock %}

            {% block table_body %}
                {% for msam in paginator.getData() %}
                    <tr>
                        <td><a href="{{ path('msam_index', {'filter':msam.ip}) }}">{{ msam.ip }}</a></td>
                        <td>
                            {{ msam.physicalSerial }}
                        </td>
                        <td>{{ msam.slotAmount }}</td>
                        <td>
                            {% if msam.state == "1"  %}
                                <span class="badge text-bg-success">Activo</span>
                            {% else %}
                                <span class="badge text-bg-danger">Inactivo</span>
                            {% endif %}
                        </td>
                        <td>{{ msam.municipality.province.name }}</td>
                        <td>{{ msam.municipality.name }}</td>
                        <td>
                            <button title="Detalle del Msam"
                                    type="button"
                                    class="btn btn-primary btn-sm"
                                    aria-current="page"
                                        data-action="live#action"
                                        data-action-name="prevent|detail(entityId={{ msam.id }})"
                            >
                                <i class="fas fa-eye"></i>
                            </button>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">
                            No se encontraron registros
                        </td>
                    </tr>
                {% endfor %}
            {% endblock %}
        {% endembed %}
        <backdrop-component data-loading="addClass(d-block)" class="card-backdrop"></backdrop-component>
    {% endif %}
</div>