<div class="col-md-6 col-xl-3 mb-4">
    <div class="card shadow border-start-primary py-2">
        <div class="card-body">
            <div class="row align-items-center no-gutters">
                <div class="col me-2">
                    <div class="text-uppercase text-{{ color }} fw-bold text-xs mb-1">
                        <span>{{ title }}</span>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="dropdown no-arrow">
                        <button type="button" class="btn btn-link btn-sm dropdown-toggle show dropdown-sm" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-ellipsis-v text-gray-600"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><h6 class="dropdown-header">Opciones:</h6></li>
                            {% for option in options %}
                                {% if option.secure is defined and option.secure == true %}
                                    {% if is_granted('ROLE_BOSS') %}
                                        <li>
                                            <a class="dropdown-item" href="{{ option.href }}">
                                                <i class="fas {{ option.icon }} text-dark"></i>
                                                {{ option.label }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% else %}
                                    <li>
                                        <a class="dropdown-item" href="{{ option.href }}">
                                            <i class="fas {{ option.icon }} text-dark"></i>
                                            {{ option.label }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div>
                <ul class="list-unstyled">
                    {% for type in components %}
                    <li class="d-flex mb-2">
                        <span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2 p-1 border border-primary rounded px-2 text-bg-primary">
                            <svg class="bi bi-check-lg" xmlns="http://www.w3.org/2000/svg" width="1em"
                                 height="1em" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"></path>
                            </svg>
                        </span>
                        <span class="p-1">{{ type }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="row g-0 align-items-center">
                <div class="col-auto">
                    <div class="text-dark fw-bold h5 mb-0 me-3">
                        <span>{{ this.getPercent() }}%</span>
                    </div>
                </div>

                <div class="col">
                    <div class="progress progress-sm">
                        <div class="progress-bar bg-info"
                             aria-valuenow="{{ this.getPercent() }}"
                             aria-valuemin="0"
                             aria-valuemax="{{ totalAmount }}"
                             style="width: {{ this.getPercent() }}%;"
                        >
                            <span class="visually-hidden">{{ this.getPercent() }}%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>