<div class="nav-item dropdown no-arrow">
    <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown"
       href="#">
        {#                                        <span class="badge bg-danger badge-counter">7+</span>#}
        <i class="fas fa-clipboard-check fa-fw"></i>
        Cantidades
    </a>
    <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
        <h6 class="dropdown-header">Parte diario: {{ 'now'| date('d/m/Y') }}</h6>
        <a class="dropdown-item d-flex align-items-center" href="{{ path('report_index', {filter:'Rotura', type: '1'}) }}">
            <div class="bg-info icon-circle dropdown-list-image me-3">
                <span class="fw-bold fa-3x font-monospace">{{ this.ripCamera() }}</span>
                <div class="bg-success status-indicator"></div>
            </div>
            <div class="fw-bold">
                <div><span>Pendientes por rotura</span></div>
                <p class="small text-gray-500 mb-0">Cámaras</p>
            </div>
        </a>
        <a class="dropdown-item d-flex align-items-center" href="{{ path('report_index', {filter:'Conectividad', type: '2'}) }}">
            <div class="bg-info icon-circle dropdown-list-image me-3">
                <span class="fw-bold fa-3x font-monospace">{{ this.connectivityModem() }}</span>
                <div class="bg-success status-indicator"></div>
            </div>
            <div class="fw-bold">
                <div class="">
                    <span>Pendientes por conectividad</span>
                </div>
                <p class="small text-gray-500 mb-0">Modems</p>
            </div>
        </a>
        <a class="dropdown-item d-flex align-items-center" href="{{ path('report_index', {filter:'Fluido eléctrico', type: '1'}) }}">
            <div class="bg-info icon-circle dropdown-list-image me-3">
                <span class="fw-bold fa-3x font-monospace">{{ this.electricFluidCamera() }}</span>
                <div class="bg-success status-indicator"></div>
            </div>
            <div class="fw-bold">
                <div class="">
                    <span>Pendiente por fluido eléctrico</span>
                </div>
                <p class="small text-gray-500 mb-0">Cámaras</p>
            </div>
        </a>
        <a class="dropdown-item d-flex align-items-center" href="{{ path('report_index', {filter:'Sustitución', type: '1'}) }}">
            <div class="bg-info icon-circle dropdown-list-image me-3">
                <span class="fw-bold fa-3x font-monospace">{{ this.sustitutionCamera() }}</span>
                <div class="bg-success status-indicator"></div>
            </div>
            <div class="fw-bold">
                <div class="">
                    <span>Pendiente por sustitutcion</span>
                </div>
                <p class="small text-gray-500 mb-0">Cámaras</p>
            </div>
        </a>
        <a class="dropdown-item d-flex align-items-center" href="{{ path('report_index', {filter:'Modem', type: '1'}) }}">
            <div class="bg-info icon-circle dropdown-list-image me-3">
                <span class="fw-bold fa-3x font-monospace">{{ this.modemCamera() }}</span>
                <div class="bg-success status-indicator"></div>
            </div>
            <div class="fw-bold">
                <div class="">
                    <span>Pendiente por moden</span>
                </div>
                <p class="small text-gray-500 mb-0">Cámaras</p>
            </div>
        </a>

        <a class="dropdown-item d-flex align-items-center" href="#">
            <div class="bg-info icon-circle dropdown-list-image me-3">
                <span class="fw-bold fa-3x font-monospace">{{ this.others() }}</span>
                <div class="bg-success status-indicator"></div>
            </div>
            <div class="fw-bold">
                <div class="">
                    <span>Otros reportes</span>
                </div>
                <p class="small text-gray-500 mb-0">Todos los equipos</p>
            </div>
        </a>

{#        <a class="dropdown-item text-center small text-gray-500" href="#">#}
{#            Mostrar reportes externos#}
{#        </a>#}
    </div>
</div>