<div
        class="modal fade"
        id="{{ id }}"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
        {{ attributes }}
        {{ stimulus_controller('modal-form') }}
>
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">{{ title }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if type is same as 'controller' %}
                    {{ render(controller(src,vars)) }}
                {% endif %}

                {% if type is same as 'component' %}
                    {{ component(src, vars) }}
                {% endif %}
            </div>
        </div>
    </div>
</div>

