{% embed "embeds/card.html.twig" %}
    {% block card_css_class %}mb-4{% endblock %}

    {% block card_header_css_class %}d-flex justify-content-between align-items-center{% endblock %}

    {% block card_title %}{{ title }}{% endblock %}

    {% block card_header_options %}
        <div>
            {% if showButton is defined and showButton == true %}
                <a class="btn btn-primary btn-sm active"
                   data-action="page#showFormContent"
                   href="{{ path('msam_new') }}"
                >
                    <i class="fas fa-plus"></i>
                    Nuevo
                </a>
            {% endif %}
        </div>
    {% endblock %}

    {% block card_body %}
        <div class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Marca:</th>
                        <td>{{ msam.brand }}</td>
                    </tr>
                    <tr>
                        <th>IP:</th>
                        <td>{{ msam.ip }}</td>
                    </tr>
                    <tr>
                        <th>Dirección física:</th>
                        <td>{{ msam.physicalAddress }}</td>
                    </tr>
                    <tr>
                        <th>Número de serie físico:</th>
                        <td>{{ msam.physicalSerial }}</td>
                    </tr>
                    <tr>
                        <th>Modelo:</th>
                        <td>{{ msam.model }}</td>
                    </tr>
                    <tr>
                        <th>Número de inventario:</th>
                        <td>{{ msam.inventory }}</td>
                    </tr>
                    <tr>
                        <th>Contic:</th>
                        <td>{{ msam.contic }}</td>
                    </tr>
                    <tr>
                        <th>Estado:</th>
                        <td>
                            {% if msam.isActive() %}
                                <span class="badge text-bg-success">Activo</span>
                            {% else %}
                                <span class="badge text-bg-danger">Inactivo</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Cantidad de puertos:</th>
                        <td>{{ msam.portsAmount }}</td>
                    </tr>
                    <tr>
                        <th>Puerta de enlace:</th>
                        <td>{{ msam.gateway }}</td>
                    </tr>
                    <tr>
                        <th>Multicast:</th>
                        <td>{{ msam.multicast }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        {#    {{ include('crud_commutator/_delete_form.html.twig') }} #}
    {% endblock %}

    {% block card_footer %}
        {% if showButton is defined and showButton == true %}
            <div class="card-footer text-body-secondary">
                <div class="row">
                    <div class="col-6">
                        <a href="{{ path('msam_index') }}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i>
                            Listado
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="{{ path('msam_edit', {'id': commutator.id}) }}" class="btn btn-primary">
                            <i class="fas fa-edit"></i>
                            Editar
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endblock %}
{% endembed %}
