{% embed "embeds/card.html.twig" %}
    {% block card_css_class %}mb-4{% endblock %}

    {% block card_header_css_class %}d-flex justify-content-between align-items-center{% endblock %}

    {% block card_title %}Listado de Msams{% endblock %}

    {% block card_header_options %}
        <div>
            <a class="btn btn-primary btn-sm active"
               data-action="page#showFormContent"
               href="{{ path('msam_new') }}"
            >
                <i class="fas fa-plus"></i>
                Nuevo
            </a>
        </div>
    {% endblock %}

    {% block card_body %}
        {% embed "embeds/table.html.twig" %}
            {% block table_container %}
                {# se puede poner el data-action #}
            {% endblock %}

            {% block table_head %}
                <tr>
                    <th>IP</th>
                    <th>Multicast</th>
                    <th>Núm. serie</th>
                    <th>Estado</th>
{#                    <th>PortsAmount</th>#}
                    <th>Provincia</th>
                    <th>Municipio</th>
{#                    <th>Brand</th>#}
{#                    <th>PhysicalAddress</th>#}
{#                    <th>PhysicalSerial</th>#}
{#                    <th>Model</th>#}
{#                    <th>Inventory</th>#}
{#                    <th>Contic</th>#}
                    <th></th>
                </tr>
            {% endblock %}

            {% block table_body %}
                {% for msam in paginator.getData() %}
                    <tr>
                        <td>{{ msam.ip }}</td>
                        <td>{{ msam.multicast }}</td>
                        <td>{{ msam.physicalSerial }}</td>
                        <td>
                            {% if msam.isActive() %}
                                <a href="{{ path('msam_state') }}"
                                   data-action="click->page#state:prevent"
                                   data-page-id-param="{{ msam.id }}"
                                   data-page-state-param="0"
                                >
                                    <span class="badge text-bg-success">Activo</span>
                                </a>
                            {% else %}
                            <a href="{{ path('msam_state') }}"
                               data-action="click->page#state:prevent"
                               data-page-id-param="{{ msam.id }}"
                               data-page-state-param="1"
                            >
                                <span class="badge text-bg-danger">Inactivo</span>
                            </a>
                            {% endif %}
                        </td>
{#                        <td>{{ msam.portsAmount }}</td>#}
                        <td>
                            <a href="{{ path(app.request.attributes.get('_route'), {'filter': msam.municipality.province.name}) }}"
                               class="text-decoration-none"
                            >
                                {{ msam.municipality.province.name }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ path(app.request.attributes.get('_route'), {'filter': msam.municipality.name}) }}"
                               class="text-decoration-none"
                            >
                                {{ msam.municipality.name }}
                            </a>
                        </td>
{#                        <td>{{ commutator.brand }}</td>    #}
{#                        <td>{{ commutator.physicalSerial }}</td>#}
{#                        <td>{{ commutator.model }}</td>#}
{#                        <td>{{ commutator.inventory }}</td>#}
{#                        <td>{{ commutator.contic }}</td>                        #}
                        <td>
                            <a class="btn btn-sm btn-primary" title="Detalle del switch"
                               href="{{ path('msam_show', {'id': msam.id}) }}"
                               data-action="page#showFormContent"
                            >
                                <i class="fas fa-eye"></i>
                            </a>
                            <a class="btn btn-sm btn-primary" title="Editar switch"
                               href="{{ path('msam_edit', {'id': msam.id}) }}"
                               data-action="page#showFormContent"
                            >
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="btn btn-sm btn-primary position-relative" title="Puertos del switch"
                               href="{{ path('msam_port', {'id': msam.id}) }}"
                               data-action="page#showFormContent"
                            >
                                <i class="fas fa-server"></i>
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    {{ msam.portsAmount }}
                                    <span class="visually-hidden">cantidad de slots de targeta</span>
                              </span>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="13">No se encontraron Msams</td>
                    </tr>
                {% endfor %}
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}



