{% extends 'content.html.twig' %}

{% block title %}Editar Msam{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-8">
            <h3 class="text-dark mb-4">Editar Msam</h3>
        </div>
        {{ component('Breadcrumb', {
            options: [
                {label: 'Inicio', href: path('app_home')},
                {label: 'Msam', href: path('msam_index')},
                {label: 'Editar'},
            ],
            current: 'Editar'
        }) }}
    </div>

{#    {{ include('msam/_form.html.twig', {'button_label': 'Update'}) }}#}

{#    <a href="{{ path('msam_index') }}">back to list</a>#}

{#    {{ include('msam/_delete_form.html.twig') }}#}

    {{ include('msam/_form.html.twig', {'showButton': true, 'title': title}) }}
{% endblock %}
