{% extends 'content.html.twig' %}

{% block title %}Gestionar Msam{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-8">
            <h3 class="text-dark mb-4">Gestionar Msam</h3>
        </div>
        {{ component('Breadcrumb', {
            options: [
                {label: 'Inicio', href: path('app_home')},
                {label: 'Msam', href: path('msam_index')},
                {label: 'Lista'},
            ],
            current: 'Lista'
        }) }}
    </div>

    {{ include('partials/_index_container.html.twig', {
        list: 'msam/_list.html.twig',
        rest_data_action: 'page:onChangeState->content-loader#refreshContent'
    }) }}

{#    <table class="table">#}
{#        <thead>#}
{#            <tr>#}
{#                <th>Id</th>#}
{#                <th>Brand</th>#}
{#                <th>Ip</th>#}
{#                <th>PhysicalAddress</th>#}
{#                <th>PhysicalSerial</th>#}
{#                <th>Model</th>#}
{#                <th>Inventory</th>#}
{#                <th>Contic</th>#}
{#                <th>State</th>#}
{#                <th>SlotAmount</th>#}
{#                <th>actions</th>#}
{#            </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        {% for msam in msams %}#}
{#            <tr>#}
{#                <td>{{ msam.id }}</td>#}
{#                <td>{{ msam.brand }}</td>#}
{#                <td>{{ msam.ip }}</td>#}
{#                <td>{{ msam.physicalAddress }}</td>#}
{#                <td>{{ msam.physicalSerial }}</td>#}
{#                <td>{{ msam.model }}</td>#}
{#                <td>{{ msam.inventory }}</td>#}
{#                <td>{{ msam.contic }}</td>#}
{#                <td>{{ msam.state }}</td>#}
{#                <td>{{ msam.slotAmount }}</td>#}
{#                <td>#}
{#                    <a href="{{ path('msam_show', {'id': msam.id}) }}">show</a>#}
{#                    <a href="{{ path('msam_edit', {'id': msam.id}) }}">edit</a>#}
{#                </td>#}
{#            </tr>#}
{#        {% else %}#}
{#            <tr>#}
{#                <td colspan="11">no records found</td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#        </tbody>#}
{#    </table>#}

{#    <a href="{{ path('msam_new') }}">Create new</a>#}
{% endblock %}
