<ul class="list-group list-group-horizontal list-group-flush border-0" {{ attributes }}>
    <li class="list-group-item w-50 fw-bold" {% if last == false %}style="border-radius: 0"{% endif %}>
        {{ label }}
    </li>
    <li class="list-group-item w-50" style="border-radius: 0">
        {% if isEditing %}
            <input
                    type="text"
                    name="ip"
                    data-model="data"
                    class="form-control form-control-sm {% if errors %}border-danger{% endif %}"
            >
            {% if errors %}
                {% for error in errors %}
                    <p class="invalid-feedback m-0" style="display: block">{{ error }}</p>
                {% endfor %}
            {% endif %}
        {% else %}
            {{ data }}
        {% endif %}

    </li>
    <li class="list-group-item w-10" style="
        {% if last == false %}
            border-radius: 0
        {% else %}
            border-top-right-radius: 0;border-bottom-right-radius: var(--bs-card-inner-border-radius);
        {% endif %}"
    >
        {% if editable %}
            {% if isEditing %}
                <i class="fas fa-save text-dark align-bottom"
                   data-action="click->live#action"
                   data-action-name="prevent|save(commutator={{ id }})"
                   title="Click para salvar!"
                ></i>
            {% else %}
                <i class="fas fa-edit text-dark"
                   data-action="click->live#action"
                   data-action-name="prevent|activateEditing"
                   title="Click para editar!"
                ></i>
            {% endif %}
        {% endif  %}
    </li>
</ul>