{% if connection is same as constant('App\\Entity\\Enums\\ConnectionType::Direct') %}
    {% set commutator = data[entityId]['port']['commutator'] %}
{% endif %}

{% if connection is same as constant('App\\Entity\\Enums\\ConnectionType::Simple') %}
    {% set commutator = data[entityId]['modem']['port']['commutator'] %}
{% endif %}

<div class="col-4">
    <h4>Características del switch:</h4>
    <hr>
    <div class="card text-bg-info border-primary">
        <div class="card-header text-bg-info d-flex justify-content-between align-items-center">
            <p class="text-white m-0 fw-bold">Switch:</p>
            <div class="row">
                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                    <a href="{{ path('commutator_edit', {'id': commutator.id}) }}" class="btn btn-primary" title="Editar switch">
                        <i class="fas fa-edit text-white"></i>
                    </a>
                </div>

            </div>
        </div>

        {# no es necesario usar updateFromParent, en el data, pues se pasa el data-live-id y esto lleva a que el componente se construya completo #}
        {{ component('ConnectionDetailEditInline', {
            label: 'IP:',
            data: commutator.ip,
            connection: connection,
            'data-live-id': 'commutator-ip-'~ commutator.ip,
            entity: 'App\\Entity\\Commutator',
            template: 'components/live/connection_commutator/edit_inline.html.twig',
            editable: false,
        }) }}

        {{ component('ConnectionDetailEditInline', {
            label: 'Puerta de enlace:',
            data: commutator.gateway,
            connection: connection,
            'data-live-id': 'commutator-gateway-'~ commutator.id,
            entity: 'App\\Entity\\Commutator',
            template: 'components/live/connection_commutator/edit_inline.html.twig',
            editable: false,
        }) }}

        {{ component('ConnectionDetailEditInline', {
            label: 'Dirección multicast:',
            data: commutator.multicast,
            connection: connection,
            'data-live-id': 'commutator-multicast-'~ commutator.id,
            entity: 'App\\Entity\\Commutator',
            template: 'components/live/connection_commutator/edit_inline.html.twig',
            editable: false,
        }) }}

        {{ component('ConnectionDetailEditInline', {
            label: 'Inventario:',
            data: commutator.inventory,
            connection: connection,
            'data-live-id': 'commutator-inventory-'~ commutator.id,
            entity: 'App\\Entity\\Commutator',
            template: 'components/live/connection_commutator/edit_inline.html.twig',
            editable: false,
        }) }}

        {{ component('ConnectionDetailEditInline', {
            label: 'Marca:',
            data: commutator.brand,
            connection: connection,
            'data-live-id': 'commutator-brand-'~ commutator.id,
            entity: 'App\\Entity\\Commutator',
            template: 'components/live/connection_commutator/edit_inline.html.twig',
            editable: false,
        }) }}

        {{ component('ConnectionDetailEditInline', {
            label: 'Modelo:',
            data: commutator.model,
            connection: connection,
            'data-live-id': 'commutator-model-'~ commutator.id,
            entity: 'App\\Entity\\Commutator',
            template: 'components/live/connection_commutator/edit_inline.html.twig',
            editable: false,
        }) }}

        {{ component('ConnectionDetailEditInline', {
            label: 'Contic:',
            data: commutator.contic,
            connection: connection,
            'data-live-id': 'commutator-contic-'~ commutator.id,
            entity: 'App\\Entity\\Commutator',
            template: 'components/live/connection_commutator/edit_inline.html.twig',
            editable: false,
        }) }}

        {{ component('ConnectionDetailEditInline', {
            label: 'Serie:',
            data: commutator.physicalSerial,
            connection: connection,
            'data-live-id': 'commutator-serial-'~ commutator.id,
            entity: 'App\\Entity\\Commutator',
            template: 'components/live/connection_commutator/edit_inline.html.twig',
            editable: false,
        }) }}

        {{ component('ConnectionDetailEditInline', {
            label: 'Dirección física:',
            data: commutator.physicalAddress,
            connection: connection,
            'data-live-id': 'commutator-physical_address-'~ commutator.id,
            entity: 'App\\Entity\\Commutator',
            template: 'components/live/connection_commutator/edit_inline.html.twig',
            editable: false,
        }) }}

        {{ component('ConnectionDetailEditInline', {
            label: 'Municipio:',
            data: data[entityId].municipality.name,
            editable: false,
            connection: connection,
            'data-live-id': 'commutator-municipality-'~ commutator.id,
            entity: 'App\\Entity\\Commutator',
            template: 'components/live/connection_commutator/edit_inline.html.twig',
        }) }}

        {{ component('ConnectionDetailEditInline', {
            label: 'Provincia:',
            data: data[entityId].municipality.province.name,
            editable: false,
            connection: connection,
            'data-live-id': 'commutator-province-'~ commutator.id,
            entity: 'App\\Entity\\Commutator',
            template: 'components/live/connection_commutator/edit_inline.html.twig',
            last: true,
        }) }}
    </div>
</div>