<div class="row" {{ attributes }}>
    {% if entityId is not null %}
        {{ include('components/live/connection_list/detail/_detail_commutator.html.twig', {'slaveCommutator':false}) }}

        {% set camera = data[entityId] %}
        {% if camera.modem is defined %}
            {{ include('components/live/connection_list/detail/_detail_modem.html.twig', {'slaveModem':false}) }}
            {% if connection is not same as constant('App\\Entity\\Enums\\ConnectionType::SlaveModem') %}
                <div class="col-4"></div>
            {% endif %}
        {% endif %}

        {% if connection is same as constant('App\\Entity\\Enums\\ConnectionType::SlaveSwitch') %}
            <div class="col-8"></div>
            {{ include('components/live/connection_list/detail/_detail_commutator.html.twig', {'slaveCommutator':true}) }}
        {% endif %}

        {% if connection is same as constant('App\\Entity\\Enums\\ConnectionType::SlaveModem') %}
            {{ include('components/live/connection_list/detail/_detail_modem.html.twig', {'slaveModem':true}) }}
        {% endif %}

        {{ include('components/live/connection_list/detail/_detail_camera.html.twig') }}
    {% endif %}
</div>