<div {{ attributes.defaults(stimulus_controller('page connection-list-table')) }} data-page-target="listContainer"
    style="position: relative" data-action="submit-form-async:success->connection-list-table#closeModal"
>

    {% if connection is same as constant('App\\Entity\\Enums\\ConnectionType::Direct') %}
        {{ include('components/live/connection_list/table/_table_direct.html.twig') }}
    {% endif %}

    {% if connection is same as constant('App\\Entity\\Enums\\ConnectionType::Simple') %}
        {{ include('components/live/connection_list/table/_table_simple.html.twig') }}
    {% endif %}

    {% if connection is same as constant('App\\Entity\\Enums\\ConnectionType::SlaveSwitch') %}
        {{ include('components/live/connection_list/table/_table_slave_switch.html.twig') }}
    {% endif %}

    <div class="row">
        {{ component('ConnectionListDetail', {connection: connection, data: data}) }}
    </div>

    {{ component('ModalForm', {
        title: 'Reportar equipo',
        src: 'App\\Controller\\ReportController::new',
        vars: {'modal': true},
        type: 'controller',
        id: 'new-report'
    }) }}

    <backdrop-component data-loading="addClass(d-block)" class="card-backdrop"></backdrop-component>
</div>