<div {{ attributes }}>
    {% embed "embeds/async_table.html.twig" %}
        {% block table_head %}
            <tr>
                <th>Switch</th>
                <th>Puerto</th>
                <th>Cámara</th>
                <th>Provincia</th>
                <th>Municipio</th>
                <th></th>
            </tr>
        {% endblock %}

        {% block table_body %}
            {% for camera in paginator.getData() %}
                <tr>
                    <td>
                        <span
                                class="badge {% if camera.port.commutator.state %}text-bg-success{% else %}text-bg-danger{% endif %}"
                        >
                            {{ camera.port.commutator.ip }}
                        </span>
                        {% if camera.port.commutator.gateway %}({{ camera.port.commutator.gateway }}){% endif%}
                        {% if camera.port.commutator.multicast %}[{{ camera.port.commutator.multicast }}]{% endif %}
                    </td>
                    <td>
                        <span
                                class="badge {% if camera.port.state %}text-bg-success{% else %}text-bg-danger{% endif %}"
                        >
                            {{ camera.port.number }}
                        </span>
                    </td>
                    <td>
                        <span
                                class="badge {% if camera.state %}text-bg-success{% else %}text-bg-danger{% endif %}"
                        >
                            {{ camera.ip }}
                        </span>
                    </td>
                    <td>{{ camera.municipality.province.name }}</td>
                    <td>{{ camera.municipality.name }}</td>
                    <td>
                        <button
                                type="button"
                                class="btn btn-primary"
                                aria-current="page"
{#                                {% if entityId is not same as commutator.id %}#}
{#                                    data-action="live#action"#}
{#                                    data-action-name="prevent|detail(entityId={{ commutator.id }})"#}
{#                                {% endif %}#}
                        >
                            <i class="fas fa-eye"></i>
                        </button>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">
                        No se encontraron registros
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
    {#    <backdrop-component class="card-backdrop d-block"></backdrop-component>#}
</div>