<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
            {{ ux_controller_link_tags() }}
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/Nunito.css') }}">
        <link rel="stylesheet" href="{{ asset('fonts/fontawesome-all.min.css') }}">
        <link rel="stylesheet" href="{{ asset('fonts/typicons.min.css') }}">
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% endblock %}

    {% block javascripts %}
        {{ importmap() }}
    {% endblock %}
</head>

{% block body %}{% endblock %}

</html>
