{% embed "embeds/card.html.twig" %}
    {% block card_css_class %}mb-4{% endblock %}

    {% block card_header_css_class %}d-flex justify-content-between align-items-center{% endblock %}

    {% block card_title %}{{ title }}{% endblock %}

    {% block card_header_options %}
        <div>
            {% if showButton is defined and showButton == true %}
                <a class="btn btn-primary btn-sm active"
                   data-action="page#showFormContent"
                   href="{{ path('camera_new') }}"
                >
                    <i class="fas fa-plus"></i>
                    Nueva
                </a>
            {% endif %}
        </div>
    {% endblock %}

    {% block card_body %}
        <div class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Marca:</th>
                        <td>{{ camera.brand }}</td>
                    </tr>
                    <tr>
                        <th>IP</th>
                        <td>{{ camera.ip }}</td>
                    </tr>
                    <tr>
                        <th>Dirección física:</th>
                        <td>{{ camera.physicalAddress }}</td>
                    </tr>
                    <tr>
                        <th>Número de serie físico:</th>
                        <td>{{ camera.physicalSerial }}</td>
                    </tr>
                    <tr>
                        <th>Modelo:</th>
                        <td>{{ camera.model }}</td>
                    </tr>
                    <tr>
                        <th>Número de inventario:</th>
                        <td>{{ camera.inventory }}</td>
                    </tr>
                    <tr>
                        <th>Contic:</th>
                        <td>{{ camera.contic }}</td>
                    </tr>
                    <tr>
                        <th>Estado</th>
                        <td>
                            {% if camera.isActive() %}
                                <span class="badge text-bg-success">Activo</span>
                            {% else %}
                                <span class="badge text-bg-danger">Inactivo</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Usuario:</th>
                        <td>{{ camera.user }}</td>
                    </tr>
                    <tr>
                        <th>Contraseña:</th>
                        <td>{{ camera.password }}</td>
                    </tr>
                    <tr>
                        <th>Número de serie electronico:</th>
                        <td>{{ camera.electronicSerial }}</td>
                    </tr>
                    {% if camera.isActive() %}
                        <tr>
                            <th>Conexion:</th>
                            <td>
                                <ul>
                                    {% if camera.port %}
                                        <li><strong>Puerto:</strong> {{ camera.port.number }}</li>
                                        <li>
                                            <strong>Switch:</strong>
                                            <a href="{{ path('commutator_show', {'id':camera.port.commutator.id}) }}">
                                                {{ camera.port.commutator }}
                                            </a>
                                        </li>
                                        {% if camera.port.commutator.port %}
                                            <li><strong>Puerto:</strong> {{ camera.port.commutator.port.number }}</li>
                                            <li>
                                                <strong>Switch Maestro:</strong>
                                                <a href="{{ path('commutator_show', {'id':camera.port.commutator.port.commutator.id}) }}">
                                                    {{ camera.port.commutator.port.commutator }}
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endif %}

                                    {% if camera.modem %}
                                        <li>
                                            <strong>Modem:</strong>
                                            <a href="{{ path('modem_show', {'id':camera.modem.id}) }}">
                                                {{ camera.modem }}
                                            </a>
                                        </li>
                                        {% if camera.modem.port %}
                                            <li><strong>Puerto:</strong> {{ camera.modem.port.number }}</li>
                                        {% endif %}
                                        {% if camera.modem.port.card %}
                                            <li>
                                                <strong>Targeta:</strong>
                                                {{ camera.modem.port.card.name }}
                                            </li>
                                            <li><strong>Slot:</strong> {{ camera.modem.port.card.slot }}</li>
                                        {% endif %}
                                        {% if camera.modem.port.card.msam %}
                                            <li>
                                                <strong>Msam:</strong>
                                                <a href="{{ path('msam_show', {'id':camera.modem.port.card.msam.id}) }}">
                                                    {{ camera.modem.port.card.msam }}
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if camera.modem.port.card.msam.port %}
                                            <li><strong>Puerto:</strong> {{ camera.modem.port.card.msam.port.number }}</li>
                                        {% else %}
                                            <li><strong>Puerto:</strong> {{ camera.modem.port.number }}</li>
                                        {% endif %}
                                        <li>
                                            <strong>Switch:</strong>
                                            {% if camera.modem.port.card %}
                                                <a href="{{ path('commutator_show', {'id':camera.modem.port.card.msam.port.commutator.id}) }}">
                                                    {{ camera.modem.port.card.msam.port.commutator }}
                                                </a>
                                            {% else %}
                                                <a href="{{ path('commutator_show', {'id':camera.modem.port.commutator.id}) }}">
                                                    {{ camera.modem.port.commutator }}
                                                </a>
                                            {% endif %}
                                        </li>
                                        {% if camera.modem.port.commutator %}
                                            <li><strong>Puerto:</strong> {{ camera.modem.port.commutator.port.number }}</li>
                                            <li>
                                                <strong>Switch Maestro:</strong>
                                                <a href="{{ path('commutator_show', {'id':camera.modem.port.commutator.port.commutator.id}) }}">
                                                    {{ camera.modem.port.commutator.port.commutator }}
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                </ul>
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    {% endblock %}

    {% block card_footer %}
        {% if showButton is defined and showButton == true %}
            <div class="card-footer text-body-secondary">
                <div class="row">
                    <div class="col-6">
                        <a href="{{ path('camera_index') }}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i>
                            Listado
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="{{ path('camera_edit', {'id': camera.id}) }}" class="btn btn-primary">
                            <i class="fas fa-edit"></i>
                            Editar
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endblock %}
{% endembed %}
