{{ form_row(form.ip) }}
{{ form_row(form.physicalAddress) }}
{{ form_row(form.physicalSerial) }}
{{ form_row(form.electronicSerial) }}
{{ form_row(form.brand) }}
{{ form_row(form.model) }}
{{ form_row(form.inventory) }}
{{ form_row(form.contic) }}
{{ form_row(form.user) }}
{{ form_row(form.password) }}
{% if isSuccessful is not defined %}
    <div data-controller="address content-loader"
         data-action="address:onSelectProvince->content-loader#refreshContent"
         data-address-url-value="{{ path('province_municipality', {'id': 0}) }}"
    >
        {{ form_row(form.address.province) }}
        {{ form_row(form.address.municipality) }}
    </div>
{% endif %}


