{% embed "embeds/card.html.twig" %}
    {% block card_css_class %}mb-4{% endblock %}

    {% block card_header_css_class %}d-flex justify-content-between align-items-center{% endblock %}

    {% block card_title %}Listado de c치maras{% endblock %}

    {% block card_header_options %}
        <div>
            <a class="btn btn-primary btn-sm active"
               data-action="page#showFormContent"
               href="{{ path('camera_new') }}"
            >
                <i class="fas fa-plus"></i>
                Nuevo
            </a>
        </div>
    {% endblock %}

    {% block card_body %}
        {% embed "embeds/table.html.twig" %}
            {% block table_head %}
                <tr>
                    <th>IP</th>
                    <th>Marca</th>
{#                    <th>PhysicalSerial</th>#}
                    <th>Model</th>
{#                    <th>Inventory</th>#}
{#                    <th>Contic</th>#}
                    <th>Estado</th>
{#                    <th>ElectronicSerial</th>#}
                    <th>Provincia</th>
                    <th>Municipio</th>
                    <th></th>
                </tr>
            {% endblock %}

            {% block table_body %}
                {% for camera in paginator.getData() %}
                    <tr>
                        <td>{{ camera.ip }}</td>
                        <td>{{ camera.brand }}</td>
{#                        <td>{{ camera.physicalSerial }}</td>#}
                        <td>{{ camera.model }}</td>
{#                        <td>{{ camera.inventory }}</td>#}
{#                        <td>{{ camera.contic }}</td>#}
                        <td>
                            {% if camera.isActive() %}
                            <a href="{{ path('camera_state') }}"
                               data-action="click->page#state:prevent"
                               data-page-id-param="{{ camera.id }}"
                               data-page-state-param="0"
                            >
                                <span class="badge text-bg-success">Activo</span>
                            </a>
                            {% else %}
                            <a href="{{ path('camera_state') }}"
                               data-action="click->page#state:prevent"
                               data-page-id-param="{{ camera.id }}"
                               data-page-state-param="1"
                            >
                                <span class="badge text-bg-danger">Inactivo</span>
                            </a>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path(app.request.attributes.get('_route'), {'filter': camera.municipality.province}) }}"
                               class="text-decoration-none"
                            >
                                {{ camera.municipality.province }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ path(app.request.attributes.get('_route'), {'filter': camera.municipality}) }}"
                               class="text-decoration-none"
                            >
                                {{ camera.municipality }}
                            </a>
                        </td>
{#                        <td>{{ camera.electronicSerial }}</td>#}
                        <td>
                            <a class="btn btn-sm btn-primary" title="Detalle de la c치mara"
                               href="{{ path('camera_show', {'id': camera.id}) }}"
                               data-action="page#showFormContent"
                            >
                                <i class="fas fa-eye"></i>
                            </a>
                            <a class="btn btn-sm btn-primary" title="Editar c치mara"
                               href="{{ path('camera_edit', {'id': camera.id}) }}"
                               data-action="page#showFormContent"
                            >
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="btn btn-sm btn-primary position-relative {% if camera.canHaveStructureCable == false %}disabled{% endif %}" title="Cable estructurado"
                                {% if camera.canHaveStructureCable %}
                                    {% if camera.structuredCable is null %}
                                       href="{{ path('structured_cable_new_camera', {'camera':camera.id}) }}"
                                   {% else %}
                                       href="{{ path('structured_cable_edit_camera', {'id':camera.structuredCable.id, 'camera':camera.id}) }}"
                                   {% endif%}
                                   data-action="page#showFormContent"
                                {% endif%}
                            >
                                <i class="fas fa-anchor"></i>
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill {% if camera.structuredCable %}bg-success{% else %}bg-danger{% endif %}">
                                    &nbsp;
                              </span>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="13">No se encontraron c치maras.</td>
                    </tr>
                {% endfor %}
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}