{% extends 'content.html.twig' %}

{% block title %}Conexiones{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-8">
            <h3 class="text-dark mb-4">Conexiones</h3>
        </div>
        {{ component('Breadcrumb', {
            options: [
                {label: 'Inicio', href: path('app_home')},
                {label: 'Conexiones'},
            ],
            current: 'Conexiones'
        }) }}
    </div>

    <div class="row">
        {{ component('ConnectionCard', {
            title: 'Conexión directa',
            totalAmount: total_amount_connections,
            connection: constant('App\\Entity\\Enums\\ConnectionType::Direct'),
            options:  [
                {label: 'Nueva', href: path('connection_direct_new'), icon: 'fa-plus'},
                {label: 'Listado', href: path('connection_direct_list'), icon: 'fa-list'}
            ],
            components: ['Switch', 'Cámara'],
            amount: direct_connections
        }) }}

        {{ component('ConnectionCard', {
            title: 'Conexión simple',
            totalAmount: total_amount_connections,
            connection: constant('App\\Entity\\Enums\\ConnectionType::Simple'),
            options:  [
                {label: 'Nueva', href:path('connection_simple_new'), icon: 'fa-plus'},
                {label: 'Listado', href: path('connection_simple_list'), icon: 'fa-list'}
            ],
            components: ['Switch', 'Modem', 'Cámara'],
            amount: simple_connections
        }) }}

        {{ component('ConnectionCard', {
            title: 'Conexión Switch esclavo',
            totalAmount: total_amount_connections,
            connection: constant('App\\Entity\\Enums\\ConnectionType::SlaveSwitch'),
            options:  [
                {label: 'Nueva', href:path('connection_slave_switch_new'), icon: 'fa-plus'},
                {label: 'Listado', href: path('connection_slave_switch_list'), icon: 'fa-list'}
            ],
            components: ['Switch', 'Switch esclavo', 'Cámara'],
            amount: slave_switch_connections
        }) }}

        {{ component('ConnectionCard', {
            title: 'Conexión Modem esclavo',
            totalAmount: total_amount_connections,
            connection: constant('App\\Entity\\Enums\\ConnectionType::SlaveModem'),
            options:  [
                {label: 'Nueva', href:'', icon: 'fa-plus'},
                {label: 'Listado', href: '', icon: 'fa-list'}
            ],
            components: ['Switch', 'Modem', 'Modem esclavo', 'Cámara'],
            amount: slave_modem_connections
        }) }}

        {{ component('ConnectionCard', {
            title: 'Conexión completa',
            totalAmount: total_amount_connections,
            connection: constant('App\\Entity\\Enums\\ConnectionType::Full'),
            options:  [
                {label: 'Nueva', href:'', icon: 'fa-plus'},
                {label: 'Listado', href: '', icon: 'fa-list'}
            ],
            components: ['Switch', 'Msam', 'Modem', 'Cámara'],
            amount: full_connections
        }) }}

        <div class="col-md-6 col-xl-9 mb-4">
            <div class="card shadow mb-4">
{#                <div class="card-header py-3">#}
{#                    <h6 class="text-primary fw-bold m-0">Comparaciones</h6>#}
{#                </div>#}
                <div class="card-body">
                    <h4 class="small fw-bold">Conexión directa<span class="float-end">{{ direct_connections ~ ' / ' ~ total_amount_connections }}</span></h4>
                    <div class="progress mb-4" style="height: 1px">
                        <div class="progress-bar bg-primary" aria-valuenow="{{ direct_percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ direct_percent }}%;">
                            <span class="visually-hidden">{{ direct_percent }}%</span>
                        </div>
                    </div>

                    <h4 class="small fw-bold">Conexión simple<span class="float-end">{{ simple_connections ~ ' / ' ~ total_amount_connections }}</span></h4>
                    <div class="progress mb-4" style="height: 1px">
                        <div class="progress-bar bg-success" aria-valuenow="{{ simple_percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ simple_percent }}%;">
                            <span class="visually-hidden">{{ simple_percent }}%</span>
                        </div>
                    </div>

                    <h4 class="small fw-bold">Conexión switch esclavo<span class="float-end">{{ slave_switch_connections ~ ' / ' ~ total_amount_connections }}</span></h4>
                    <div class="progress mb-4" style="height: 1px">
                        <div class="progress-bar bg-info" aria-valuenow="{{ slave_switch_percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ slave_switch_percent }}%;">
                            <span class="visually-hidden">{{ slave_switch_percent }}%</span>
                        </div>
                    </div>

                    <h4 class="small fw-bold">Conexión modem esclavo<span class="float-end">{{ slave_modem_connections ~ ' / ' ~ total_amount_connections }}</span></h4>
                    <div class="progress mb-4" style="height: 1px">
                        <div class="progress-bar bg-warning" aria-valuenow="{{ slave_modem_percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ slave_modem_percent }}%;">
                            <span class="visually-hidden">{{ slave_modem_percent }}%</span>
                        </div>
                    </div>

                    <h4 class="small fw-bold">Conexión completa<span class="float-end">{{ full_connections ~ ' / ' ~ total_amount_connections }}</span></h4>
                    <div class="progress mb-4" style="height: 1px">
                        <div class="progress-bar bg-danger" aria-valuenow="{{ full_percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ full_percent }}%;">
                            <span class="visually-hidden">{{ full_percent }}%</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
{% endblock %}
