{% extends 'content.html.twig' %}

{% block title %}Conexiones{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-8">
            <h3 class="text-dark mb-4">Nueva conexión switch esclavo</h3>
        </div>
        {{ component('Breadcrumb', {
            options: [
                {label: 'Inicio', href: path('app_home')},
                {label: 'Conexiones', href: path('connection_index')},
                {label: 'Conexion switch esclavo', href: '#'},
                {label: 'Nueva'},
            ],
            current: 'Nueva'
        }) }}
    </div>

    {{ component('ConnectionCommutator', {
        connection: constant('App\\Entity\\Enums\\ConnectionType::SlaveSwitch')
    }) }}

    {{ component('ConnectionSlaveCommutator', {
        connection: constant('App\\Entity\\Enums\\ConnectionType::SlaveSwitch')
    }) }}

    {{ component('ConnectionCamera', {
        connection: constant('App\\Entity\\Enums\\ConnectionType::SlaveSwitch')
    }) }}

    {{ component('ConnectionSave', {
        connection: constant('App\\Entity\\Enums\\ConnectionType::SlaveSwitch')
    }) }}
{% endblock %}
