{% embed "embeds/async_table.html.twig" %}
    {% block table_head %}
        <tr>
            <th>Switch</th>
            <th>Puerto</th>
            <th>C치mara</th>
            <th>Provincia</th>
            <th>Municipio</th>
            <th></th>
        </tr>
    {% endblock %}

    {% block table_body %}
        {% for camera in paginator.getData() %}
            <tr>
                <td>
                    <a href="{{ path('commutator_state') }}" class="text-decoration-none"
                       data-action="page#state:prevent"
                       data-page-id-param="{{ camera.port.commutator.id }}"
                            {% if camera.port.commutator.state %}
                                data-page-state-param="0"
                            {% else %}
                                data-page-state-param="1"
                            {% endif %}
                    >
                            <span
                                    class="badge {% if camera.port.commutator.state %}text-bg-success{% else %}text-bg-danger{% endif %}"
                            >
                                {{ camera.port.commutator.ip }}
                            </span>
                        {% if camera.port.commutator.gateway %}({{ camera.port.commutator.gateway }}){% endif%}
                        {% if camera.port.commutator.multicast %}[{{ camera.port.commutator.multicast }}]{% endif %}
                    </a>

                    <a href="{{ path('report_new', {'equipment':camera.port.commutator.id}) }}" class="ms-1">
                        <i class="fas fa-clipboard" title="Reportar switch"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ path('port_state') }}"
                       data-action="page#state:prevent"
                       data-page-id-param="{{ camera.port.id }}"
                            {% if camera.port.state %}
                                data-page-state-param="0"
                            {% else %}
                                data-page-state-param="1"
                            {% endif %}
                    >
                            <span
                                    class="badge {% if camera.port.state %}text-bg-success{% else %}text-bg-danger{% endif %}"
                            >
                                {{ camera.port.number }}
                            </span>
                    </a>
                </td>
                <td>
                    <a href="{{ path('camera_state') }}" class="text-decoration-none"
                       data-action="page#state:prevent"
                       data-page-id-param="{{ camera.id }}"
                            {% if camera.state %}
                                data-page-state-param="0"
                            {% else %}
                                data-page-state-param="1"
                            {% endif %}
                    >
                            <span
                                    class="badge {% if camera.state %}text-bg-success{% else %}text-bg-danger{% endif %}"
                            >
                                {{ camera.ip }}
                            </span>
                    </a>
                    {% if camera.state %}
                        <a
                                href="#"
                                class="ms-1"
                                data-action="connection-list-table#report"
                                data-connection-list-table-equipment-param="{{ camera.id }}"
                                data-connection-list-table-type-param="1"
                        >
                            <i class="fas fa-clipboard" title="Reportar c치mara"></i>
                        </a>
                    {% endif %}
                </td>
                <td>{{ camera.municipality.province.name }}</td>
                <td>{{ camera.municipality.name }}</td>
                <td>
                    <button title="Detalle de conexi칩n"
                            type="button"
                            class="btn btn-primary btn-sm"
                            aria-current="page"
                            {#                                {% if entityId is not same as commutator.id %}#}
                            data-action="live#action"
                            data-action-name="prevent|detail(entityId={{ camera.id }})"
                            {#                                {% endif %}#}
                    >
                        <i class="fas fa-eye"></i>
                    </button>

                    <button title="Eliminar conexi칩n"
                            type="button"
                            class="btn btn-primary btn-sm"
                            aria-current="page"
                            data-action="connection-list-table#disconnect"
                            data-connection-list-table-camera-param="{{ camera.id }}"
                    >
                        <i class="fas fa-plug"></i>
                    </button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">
                    No se encontraron registros
                </td>
            </tr>
        {% endfor %}
    {% endblock %}
{% endembed %}