<div class="card shadow" {{ stimulus_controller('table-list') }}>
    <div class="card-header py-3">
        <p class="text-primary m-0 fw-bold">{% block card_title %}{% endblock %}</p>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 text-nowrap">
                {# Show amount #}
                <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                    <label class="form-label">Mostrar:&nbsp;
                        <select class="d-inline-block form-select form-select-sm" {{ stimulus_action('table-list', 'amountToDisplayPerPage', 'change') }}>
                            {% for item in [10, 25, 50, 100] %}
                                <option value="{{ item }}" {% if amountPerPage == item %}selected{% endif %}>
                                    {{ item }}
                                </option>
                            {% endfor %}
                        </select>
                    </label>
                </div>
                {# Show amount #}

            </div>
            <div class="col-md-6">
                {# filter #}
                <div class="text-md-end dataTables_filter" id="dataTable_filter">
                    <label class="form-label">
                        <input type="search" class="form-control form-control-sm" aria-controls="dataTable"
                               placeholder="Buscar...">
                    </label>
                </div>
                {# filter #}
            </div>
        </div>
        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
            <table class="table my-0" id="dataTable">
                <thead>
                {% block table_head %}{% endblock %}
                </thead>
                <tbody>
                {% block table_body %}{% endblock %}
                </tbody>
                <tfoot>
                {% block table_footer %}{% endblock %}
                </tfoot>
            </table>
        </div>
        <div class="row">
            <div class="col-md-6 align-self-center">
                <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">
                    Mostrar {{ from }} al {{ to }} de {{ total }}
                </p>
            </div>
            <div class="col-md-6">

                <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                    {% if maxPages > 1 %}
                        <ul class="pagination">
                            <li class="page-item {% if page == 1 %}disabled{% endif %}">
                                <a class="page-link" aria-label="Previous" href="{{ path('user_list') }}">
                                    <span aria-hidden="true">«</span>
                                </a>
                            </li>
                            {% for item in 1..maxPages %}
                                <li class="page-item {% if page == item %}disabled{% endif %}">
                                    <a class="page-link"
                                       href="{{ path('user_list', {'page':item, 'filter':filter, 'amountPerPage':amountPerPage}) }}">
                                        {{ item }}
                                    </a>
                                </li>
                            {% endfor %}
                            <li class="page-item {% if page == maxPages %}disabled{% endif %}">
                                <a class="page-link" aria-label="Next"
                                   href="{{ path('user_list', {'page':maxPages, 'filter':filter, 'amountPerPage':amountPerPage}) }}">
                                    <span aria-hidden="true">»</span>
                                </a>
                            </li>
                        </ul>
                    {% endif %}
                </nav>
            </div>
        </div>
    </div>
</div>