<div {{ attributes }}>
    {% if commutator and port %}

        {% if connection is same as constant('App\\Entity\\Enums\\ConnectionType::Direct') %}
            {{ include('components/live/connection_camera/_card_table.html.twig') }}

            {% if port is not null and port.equipment is null %}
                {{ component('ModalForm', {
                    title: 'Agregar Cámara',
                    src: 'ConnectionCameraNew',
                    vars: {
                        connection:connection,
                        port: port
                    },
                    type: 'component',
                    id: 'add-camera'
                }) }}
            {% endif %}
        {% endif %}

        {% if connection is same as constant('App\\Entity\\Enums\\ConnectionType::Simple') and modem is not null %}
            {{ include('components/live/connection_camera/_card_table.html.twig') }}

            {% if modem is not null and modem.canAddCamera() %}
                {{ component('ModalForm', {
                    title: 'Agregar Cámara',
                    src: 'ConnectionCameraNew',
                    vars: {
                        connection:connection,
                        modem: modem
                    },
                    type: 'component',
                    id: 'add-camera'
                }) }}
            {% endif %}
        {% endif %}
    {% endif %}
</div>

