<div class="col-12" {{ attributes.defaults(stimulus_controller('connection-camera-detail')) }}>
    {% if camera is not null %}
        <h4>Características de la cámara:</h4>
        <hr>
        <div class="card border-primary">
            <div class="card-header text-bg-info d-flex justify-content-between align-items-center">
                <p class="text-white m-0 fw-bold">Detalles:</p>
                <div class="row">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <!-- BOTON DE DESCONETAR -->
                        <input
                                type="checkbox"
                                class="btn-check btn-primary"
                                id="camera_connect{{ camera.id }}"
                                autocomplete="off"
                                {% if camera.disconnected == false %}checked{% endif %}

                                {% if camera.disconnected == false %}
                                    data-action="change->live#action"
                                    data-action-name="disconnect(camera={{ camera.id }})"
                                {% else %}
                                    {% if connection is same as constant('App\\Entity\\Enums\\ConnectionType::Direct') %}
                                        data-action="change->live#action"
                                        data-action-name="connect(camera={{ camera.id }})"
                                    {% endif %}

                                    {% if connection is same as constant('App\\Entity\\Enums\\ConnectionType::Simple') %}
                                        {% if port.hasConnectedModem() and port.equipment.cameras.count < 4 %}
                                            data-action="change->live#action"
                                            data-action-name="connect(camera={{ camera.id }})"
                                        {% else %}
                                            {# Mostrar una alerta de que el modem ya tiene conectada 4 camaras #}
                                            data-action="connection-camera-detail#notAssociateCamera"
                                        {% endif %}
                                    {% endif %}

                                    {% if connection is same as constant('App\\Entity\\Enums\\ConnectionType::SlaveSwitch') %}
                                            data-action="change->live#action"
                                            data-action-name="connect(camera={{ camera.id }})"
                                    {% endif %}
                                {% endif %}
                        >
                        <label class="btn btn-primary" for="camera_connect{{ camera.id }}" title="Conectar / Desconectar">
                            <i class="fas fa-plug text-white"></i>
                        </label>
                        <!-- BOTON DE DESCONETAR -->

                        <!-- BOTON DE DESACTIVAR -->
                        <input
                                type="checkbox"
                                class="btn-check btn-primary"
                                id="camera{{ camera.id }}"
                                autocomplete="off"
                                {% if active %}checked{% endif %}
                                data-action="change->live#action"
                                {% if active %}
                                    data-action-name="predeactivate(entityId={{ camera.id }})"
                                {% else %}
                                    data-action-name="preactivate(entityId={{ camera.id }}, elementId=camera{{ camera.id }})"
                                {% endif %}
                        >
                        <label class="btn btn-primary" for="camera{{ camera.id }}" title="Activa / Inactiva">
                            {% if active %}
                                <i class="fas fa-check-circle text-white"></i>
                            {% else %}
                                <i class="fas fa-circle text-white"></i>
                            {% endif %}
                        </label>
                        <!-- BOTON DE DESACTIVAR -->
                        <a type="button" class="btn btn-primary" href="{{ path('camera_edit', {'id': camera.id}) }}" title="Editar cámara">
                            <i class="fas fa-edit text-white"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col">
                        {{ component('ConnectionDetailEditInline', {
                            label: 'IP:',
                            data: camera.ip,
                            id: camera.id,
                            setter: 'setIp',
                            connection: connection,
                            constraints: [
                                {'class': 'NotBlank', 'options': {message:'Establezca el IP del equipo.'}},
                                {'class': 'Ip', 'options': {message:'Establezca un IP válido.'}}
                            ],
                            'data-live-id': 'camera-ip-'~ camera.id,
                            entity: 'App\\Entity\\Camera',
                            template: 'components/live/connection_camera/edit_inline.html.twig'
                        }) }}

                        {{ component('ConnectionDetailEditInline', {
                            label: 'Usuario:',
                            data: camera.user,
                            id: camera.id,
                            setter: 'setUser',
                            connection: connection,
                            constraints: [
                                {'class': 'NotBlank', 'options': {message:'La camara debe de tener un usuario.'}},
                            ],
                            'data-live-id': 'camera-user-'~ camera.id,
                            entity: 'App\\Entity\\Camera',
                            template: 'components/live/connection_camera/edit_inline.html.twig',
                            refreshTable: false
                        }) }}

                        {{ component('ConnectionDetailEditInline', {
                            label: 'Contraseña:',
                            data: camera.password,
                            id: camera.id,
                            setter: 'setPassword',
                            connection: connection,
                            constraints: [
                                {'class': 'NotBlank', 'options': {message:'La cámara debe de tener una contraseña.'}},
                            ],
                            'data-live-id': 'camera-password-'~ camera.id,
                            entity: 'App\\Entity\\Camera',
                            template: 'components/live/connection_camera/edit_inline.html.twig',
                            secure: true,
                            refreshTable: false
                        }) }}

                        {{ component('ConnectionDetailEditInline', {
                            label: 'Número de serie electrónico:',
                            data: camera.electronicSerial,
                            id: camera.id,
                            setter: 'setElectronicSerial',
                            connection: connection,
                            'data-live-id': 'camera-electric-'~ camera.id,
                            entity: 'App\\Entity\\Camera',
                            template: 'components/live/connection_camera/edit_inline.html.twig',
                            refreshTable: false
                        }) }}

                        {{ component('ConnectionDetailEditInline', {
                            label: 'Puerto:',
                            data: camera.port,
                            id: camera.id,
                            connection: connection,
                            'data-live-id': 'camera-port-'~ camera.id,
                            entity: 'App\\Entity\\Camera',
                            template: 'components/live/connection_camera/edit_inline.html.twig',
                            editable: false,
                        }) }}

                        {{ component('ConnectionDetailEditInline', {
                            label: 'Modem:',
                            data: camera.modem,
                            id: camera.id,
                            connection: connection,
                            'data-live-id': 'camera-modem-'~ camera.id,
                            entity: 'App\\Entity\\Camera',
                            template: 'components/live/connection_camera/edit_inline.html.twig',
                            editable: false,
                        }) }}

                        {{ component('ConnectionDetailEditInline', {
                            label: 'Switch:',
                            data: camera.commutator,
                            id: camera.id,
                            connection: connection,
                            'data-live-id': 'camera-switch-'~ camera.id,
                            entity: 'App\\Entity\\Camera',
                            template: 'components/live/connection_camera/edit_inline.html.twig',
                            editable: false,
                        }) }}
                    </div>

                    <div class="col">
                        {{ component('ConnectionDetailEditInline', {
                            label: 'Modelo:',
                            data: camera.model,
                            id: camera.id,
                            setter: 'setModel',
                            connection: connection,
                            'data-live-id': 'camera-model-'~ camera.id,
                            entity: 'App\\Entity\\Camera',
                            template: 'components/live/connection_camera/edit_inline.html.twig'
                        }) }}

                        {{ component('ConnectionDetailEditInline', {
                            label: 'Marca:',
                            data: camera.brand,
                            id: camera.id,
                            setter: 'setBrand',
                            connection: connection,
                            'data-live-id': 'camera-brand-'~ camera.id,
                            entity: 'App\\Entity\\Camera',
                            template: 'components/live/connection_camera/edit_inline.html.twig'
                        }) }}

                        {{ component('ConnectionDetailEditInline', {
                            label: 'Número de serie:',
                            data: camera.serial,
                            id: camera.id,
                            setter: 'setPhysicalSerial',
                            connection: connection,
                            'data-live-id': 'camera-serial-'~ camera.id,
                            entity: 'App\\Entity\\Camera',
                            template: 'components/live/connection_camera/edit_inline.html.twig'
                        }) }}

                        {{ component('ConnectionDetailEditInline', {
                            label: 'Número de inventario:',
                            data: camera.inventary,
                            id: camera.id,
                            setter: 'setInventory',
                            connection: connection,
                            'data-live-id': 'camera-inventory-'~ camera.id,
                            entity: 'App\\Entity\\Camera',
                            template: 'components/live/connection_camera/edit_inline.html.twig'
                        }) }}

                        {{ component('ConnectionDetailEditInline', {
                            label: 'Contic:',
                            data: camera.contic,
                            id: camera.id,
                            setter: 'setContic',
                            connection: connection,
                            'data-live-id': 'camera-contic-'~ camera.id,
                            entity: 'App\\Entity\\Camera',
                            template: 'components/live/connection_camera/edit_inline.html.twig'
                        }) }}

                        {{ component('ConnectionDetailEditInline', {
                            label: 'Dirección física:',
                            data: camera.physical_address,
                            id: camera.id,
                            setter: 'setPhysicalAddress',
                            connection: connection,
                            constraints: [
                                {'class': 'NotBlank', 'options': {message:'La dirección física no debe estar vacía.'}}
                            ],
                            'data-live-id': 'camera-address-'~ camera.id,
                            entity: 'App\\Entity\\Camera',
                            template: 'components/live/connection_camera/edit_inline.html.twig',
                            textarea: true
                        }) }}

                        {{ component('ConnectionDetailEditInline', {
                            label: 'Municipio:',
                            data: camera.municipality,
                            id: camera.id,
                            connection: connection,
                            'data-live-id': 'camera-municipality-'~ camera.id,
                            entity: 'App\\Entity\\Camera',
                            template: 'components/live/connection_camera/edit_inline.html.twig',
                            editable: false,
                        }) }}

                        {{ component('ConnectionDetailEditInline', {
                            label: 'Provincia:',
                            data: camera.province,
                            id: camera.id,
                            connection: connection,
                            'data-live-id': 'camera-province-'~ camera.id,
                            entity: 'App\\Entity\\Camera',
                            template: 'components/live/connection_camera/edit_inline.html.twig',
                            editable: false,
                        }) }}
                    </div>
                </div>
            </div>
            <backdrop-component data-loading="addClass(d-block)" class="card-backdrop"></backdrop-component>
        </div>
    {% endif %}
</div>

