{% if connection is same as constant('App\\Entity\\Enums\\ConnectionType::Simple')%}
    {% set modem = data[entityId]['modem'] %}
{% endif %}

{% if connection is same as constant('App\\Entity\\Enums\\ConnectionType::SlaveModem')%}
    {% set modem = data[entityId]['modem']['masterModem'] %}
{% endif %}

{% if slaveModem == true %}
    {% set modem = data[entityId]['modem'] %}
{% endif %}

<div class="{% if slaveModem == true %}col-4{% else %}col-8{% endif %}">
    <h4>Características del modem {% if slaveModem == true %}esclavo{% endif %}:</h4>
    <hr>
    <div class="card border-primary">
        <div class="card-header text-bg-info d-flex justify-content-between align-items-center">
            <p class="text-white m-0 fw-bold">Modem {% if slaveModem == true %}esclavo{% endif %}:</p>
            <div class="row">
                {% if is_granted('ROLE_BOSS') %}
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <a href="{{ path('modem_edit', {'id': modem.id}) }}" class="btn btn-primary" title="Editar modem">
                            <i class="fas fa-edit text-white"></i>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="card-body">
            <div class="row">

                <div class="col">
                    {{ component('ConnectionDetailEditInline', {
                        label: 'IP:',
                        data: modem.ip,
                        connection: connection,
                        'data-live-id': 'modem-ip-'~ modem.id,
                        entity: 'App\\Entity\\Modem',
                        template: 'components/live/connection_camera/edit_inline.html.twig',
                        editable: false,
                    }) }}

                    {% if slaveModem == false %}
                        {{ component('ConnectionDetailEditInline', {
                            label: 'Puerto:',
                            data: modem.port.number,
                            connection: connection,
                            'data-live-id': 'modem-port-'~ modem.id,
                            entity: 'App\\Entity\\Modem',
                            template: 'components/live/connection_camera/edit_inline.html.twig',
                            editable: false,
                        }) }}
                    {% endif %}

                    {% if slaveModem == true %}
                        {{ component('ConnectionDetailEditInline', {
                            label: 'Modem maestro:',
                            data: camera.modem.masterModem.ip,
                            connection: connection,
                            'data-live-id': 'camera-modem-'~ camera.id,
                            entity: 'App\\Entity\\Modem',
                            template: 'components/live/connection_camera/edit_inline.html.twig',
                            editable: false,
                        }) }}
                    {% endif %}

                    {% if slaveModem == false %}
                        {{ component('ConnectionDetailEditInline', {
                            label: 'Switch:',
                            data: modem.port.commutator.ip,
                            connection: connection,
                            'data-live-id': 'modem-switch-'~ modem.id,
                            entity: 'App\\Entity\\Modem',
                            template: 'components/live/connection_camera/edit_inline.html.twig',
                            editable: false,
                        }) }}
                    {% endif %}

                    {{ component('ConnectionDetailEditInline', {
                        label: 'Modelo:',
                        data: modem.model,
                        connection: connection,
                        'data-live-id': 'modem-model-'~ modem.id,
                        entity: 'App\\Entity\\Modem',
                        template: 'components/live/connection_camera/edit_inline.html.twig',
                        editable: false,
                    }) }}

                    {{ component('ConnectionDetailEditInline', {
                        label: 'Marca:',
                        data: modem.brand,
                        connection: connection,
                        'data-live-id': 'modem-brand-'~ modem.id,
                        entity: 'App\\Entity\\Modem',
                        template: 'components/live/connection_camera/edit_inline.html.twig',
                        editable: false,
                    }) }}
                {% if slaveModem == false %}
                </div>

                <div class="col">
                {% endif %}
                    {{ component('ConnectionDetailEditInline', {
                        label: 'Número de serie:',
                        data: modem.physicalSerial,
                        connection: connection,
                        'data-live-id': 'modem-serial-'~ modem.id,
                        entity: 'App\\Entity\\Modem',
                        template: 'components/live/connection_camera/edit_inline.html.twig',
                        editable: false,
                    }) }}

                    {{ component('ConnectionDetailEditInline', {
                        label: 'Número de inventario:',
                        data: modem.inventory,
                        connection: connection,
                        'data-live-id': 'modem-inventory-'~ modem.id,
                        entity: 'App\\Entity\\Modem',
                        template: 'components/live/connection_camera/edit_inline.html.twig',
                        editable: false,
                    }) }}

                    {{ component('ConnectionDetailEditInline', {
                        label: 'Contic:',
                        data: modem.contic,
                        connection: connection,
                        'data-live-id': 'modem-contic-'~ modem.id,
                        entity: 'App\\Entity\\Modem',
                        template: 'components/live/connection_camera/edit_inline.html.twig',
                        editable: false,
                    }) }}

                    {{ component('ConnectionDetailEditInline', {
                        label: 'Dirección física:',
                        data: modem.physicalAddress,
                        connection: connection,
                        'data-live-id': 'modem-address-'~ modem.id,
                        entity: 'App\\Entity\\Modem',
                        template: 'components/live/connection_camera/edit_inline.html.twig',
                        editable: false,
                    }) }}

                    {{ component('ConnectionDetailEditInline', {
                        label: 'Municipio:',
                        data: data[entityId].municipality.name,
                        connection: connection,
                        'data-live-id': 'modem-municipality-'~ modem.id,
                        entity: 'App\\Entity\\Modem',
                        template: 'components/live/connection_camera/edit_inline.html.twig',
                        editable: false,
                    }) }}

                    {{ component('ConnectionDetailEditInline', {
                        label: 'Provincia:',
                        data: data[entityId].municipality.province.name,
                        connection: connection,
                        'data-live-id': 'modem-province-'~ modem.id,
                        entity: 'App\\Entity\\Modem',
                        template: 'components/live/connection_camera/edit_inline.html.twig',
                        editable: false,
                    }) }}
                </div>
            </div>
        </div>
        <backdrop-component data-loading="addClass(d-block)" class="card-backdrop"></backdrop-component>
    </div>
</div>