<div class="
{% if connection is same as constant('App\\Entity\\Enums\\ConnectionType::Simple') or connection is same as constant('App\\Entity\\Enums\\ConnectionType::Full') %}
    col-12
{% else %}
    col-8
{% endif %}
">
    {% if connection is not same as constant('App\\Entity\\Enums\\ConnectionType::Direct') %}<br><br>{% endif %}
    <h4>Características de la cámara:</h4>
    <hr>
    <div class="card border-primary">
        <div class="card-header text-bg-info d-flex justify-content-between align-items-center">
            <p class="text-white m-0 fw-bold">Cámara:</p>
            <div class="row">
                {% if is_granted('ROLE_BOSS') %}
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <a href="{{ path('camera_edit', {'id': camera.id}) }}" class="btn btn-primary" title="Editar cámara">
                            <i class="fas fa-edit text-white"></i>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="card-body">
            <div class="row">

                <div class="col">
                    {{ component('ConnectionDetailEditInline', {
                        label: 'IP:',
                        data: camera.ip,
                        connection: connection,
                        'data-live-id': 'camera-ip-'~ camera.id,
                        entity: 'App\\Entity\\Camera',
                        template: 'components/live/connection_camera/edit_inline.html.twig',
                        editable: false,
                    }) }}

                    {{ component('ConnectionDetailEditInline', {
                        label: 'Usuario:',
                        data: camera.user,
                        connection: connection,
                        'data-live-id': 'camera-user-'~ camera.id,
                        entity: 'App\\Entity\\Camera',
                        template: 'components/live/connection_camera/edit_inline.html.twig',
                        editable: false,
                    }) }}

                    {{ component('ConnectionDetailEditInline', {
                        label: 'Contraseña:',
                        data: camera.password,
                        connection: connection,
                        'data-live-id': 'camera-password-'~ camera.id,
                        entity: 'App\\Entity\\Camera',
                        template: 'components/live/connection_camera/edit_inline.html.twig',
                        secure: true,
                        editable: false,
                    }) }}

                    {{ component('ConnectionDetailEditInline', {
                        label: 'Número de serie electrónico:',
                        data: camera.electronicSerial,
                        connection: connection,
                        'data-live-id': 'camera-electric-'~ camera.id,
                        entity: 'App\\Entity\\Camera',
                        template: 'components/live/connection_camera/edit_inline.html.twig',
                        editable: false,
                    }) }}

                    {{ component('ConnectionDetailEditInline', {
                        label: 'Puerto:',
                        data: (camera.modem is defined) ? ((camera.modem.masterModem is defined) ? camera.modem.masterModem.port.number : camera.modem.port.number) : camera.port.number,
                        connection: connection,
                        'data-live-id': 'camera-port-'~ camera.id,
                        entity: 'App\\Entity\\Camera',
                        template: 'components/live/connection_camera/edit_inline.html.twig',
                        editable: false,
                    }) }}

                    {% if camera.modem is defined %}
                        {{ component('ConnectionDetailEditInline', {
                            label: 'Modem:',
                            data: camera.modem.ip,
                            connection: connection,
                            'data-live-id': 'camera-modem-'~ camera.id,
                            entity: 'App\\Entity\\Camera',
                            template: 'components/live/connection_camera/edit_inline.html.twig',
                            editable: false,
                        }) }}
                    {% endif %}

                    {% if connection is same as constant('App\\Entity\\Enums\\ConnectionType::Full')%}
                        {{ component('ConnectionDetailEditInline', {
                            label: 'Switch:',
                            data: (camera.modem is defined) ? ((camera.modem.masterModem is defined) ? camera.modem.masterModem.port.commutator.ip : camera.modem.port.card.msam.port.commutator.ip) : camera.port.commutator.ip,
                            connection: connection,
                            'data-live-id': 'camera-switch-'~ camera.id,
                            entity: 'App\\Entity\\Camera',
                            template: 'components/live/connection_camera/edit_inline.html.twig',
                            editable: false,
                        }) }}
                    {% else %}
                        {{ component('ConnectionDetailEditInline', {
                            label: 'Switch:',
                            data: (camera.modem is defined) ? ((camera.modem.masterModem is defined) ? camera.modem.masterModem.port.commutator.ip : camera.modem.port.commutator.ip) : camera.port.commutator.ip,
                            connection: connection,
                            'data-live-id': 'camera-switch-'~ camera.id,
                            entity: 'App\\Entity\\Camera',
                            template: 'components/live/connection_camera/edit_inline.html.twig',
                            editable: false,
                        }) }}
                    {% endif %}
                </div>

                <div class="col">
                    {{ component('ConnectionDetailEditInline', {
                        label: 'Modelo:',
                        data: camera.model,
                        connection: connection,
                        'data-live-id': 'camera-model-'~ camera.id,
                        entity: 'App\\Entity\\Camera',
                        template: 'components/live/connection_camera/edit_inline.html.twig',
                        editable: false,
                    }) }}

                    {{ component('ConnectionDetailEditInline', {
                        label: 'Marca:',
                        data: camera.brand,
                        connection: connection,
                        'data-live-id': 'camera-brand-'~ camera.id,
                        entity: 'App\\Entity\\Camera',
                        template: 'components/live/connection_camera/edit_inline.html.twig',
                        editable: false,
                    }) }}

                    {{ component('ConnectionDetailEditInline', {
                        label: 'Número de serie:',
                        data: camera.physicalSerial,
                        connection: connection,
                        'data-live-id': 'camera-serial-'~ camera.id,
                        entity: 'App\\Entity\\Camera',
                        template: 'components/live/connection_camera/edit_inline.html.twig',
                        editable: false,
                    }) }}

                    {{ component('ConnectionDetailEditInline', {
                        label: 'Número de inventario:',
                        data: camera.inventory,
                        connection: connection,
                        'data-live-id': 'camera-inventory-'~ camera.id,
                        entity: 'App\\Entity\\Camera',
                        template: 'components/live/connection_camera/edit_inline.html.twig',
                        editable: false,
                    }) }}

                    {{ component('ConnectionDetailEditInline', {
                        label: 'Contic:',
                        data: camera.contic,
                        connection: connection,
                        'data-live-id': 'camera-contic-'~ camera.id,
                        entity: 'App\\Entity\\Camera',
                        template: 'components/live/connection_camera/edit_inline.html.twig',
                        editable: false,
                    }) }}

                    {{ component('ConnectionDetailEditInline', {
                        label: 'Dirección física:',
                        data: camera.physicalAddress,
                        connection: connection,
                        'data-live-id': 'camera-address-'~ camera.id,
                        entity: 'App\\Entity\\Camera',
                        template: 'components/live/connection_camera/edit_inline.html.twig',
                        editable: false,
                    }) }}

                    {{ component('ConnectionDetailEditInline', {
                        label: 'Municipio:',
                        data: camera.municipality.name,
                        connection: connection,
                        'data-live-id': 'camera-municipality-'~ camera.id,
                        entity: 'App\\Entity\\Camera',
                        template: 'components/live/connection_camera/edit_inline.html.twig',
                        editable: false,
                    }) }}

                    {{ component('ConnectionDetailEditInline', {
                        label: 'Provincia:',
                        data: camera.municipality.province.name,
                        connection: connection,
                        'data-live-id': 'camera-province-'~ camera.id,
                        entity: 'App\\Entity\\Camera',
                        template: 'components/live/connection_camera/edit_inline.html.twig',
                        editable: false,
                    }) }}
                </div>
            </div>
        </div>
    </div>
</div>