{{ form_start(formName) }}
<div class="row">
    <div class="col">
        <div class="mb-3">
            {{ form_label(formName.name) }}
            <div class="col-sm-6 mb-3 mb-sm-0 input-group">
                <span class="input-group-text" id="basic-addon1" style="background-color: transparent">
                    <i class="fas fa-edit"></i>
                </span>
                {{ form_widget(formName.name) }}
            </div>
            {{ form_errors(formName.name) }}
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            {{ form_label(formName.lastname) }}
            <div class="col-sm-6 mb-3 mb-sm-0 input-group">
                <span class="input-group-text" id="basic-addon1" style="background-color: transparent">
                    <i class="fas fa-edit"></i>
                </span>
                {{ form_widget(formName.lastname) }}
            </div>
            {{ form_errors(formName.lastname) }}
        </div>
    </div>
</div>
<div class="mb-3">
    <button class="btn btn-primary btn-sm" type="submit">
        <i class="fas fa-save"></i>
        Salvar
    </button>
</div>
{{ form_end(formName) }}