{{ form_start(formPassword) }}
    <div class="mb-3">
        {{ form_label(formPassword.oldPassword) }}
        <div class="col-sm-6 mb-3 mb-sm-0 input-group">
            <span class="input-group-text" id="basic-addon1" style="background-color: transparent">
                <i class="fas fa-lock"></i>
            </span>
            {{ form_widget(formPassword.oldPassword) }}
        </div>
        {{ form_errors(formPassword.oldPassword) }}
    </div>
    <div class="row">
        <div class="col">
            <div class="mb-3">
                {{ form_label(formPassword.plainPassword.first) }}
                <div class="col-sm-6 mb-3 mb-sm-0 input-group">
                    <span class="input-group-text" id="basic-addon1" style="background-color: transparent">
                        <i class="fas fa-lock"></i>
                    </span>
                    {{ form_widget(formPassword.plainPassword.first) }}
                </div>
                {{ form_errors(formPassword.plainPassword.first) }}
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                {{ form_label(formPassword.plainPassword.second) }}
                <div class="col-sm-6 mb-3 mb-sm-0 input-group">
                    <span class="input-group-text" id="basic-addon1" style="background-color: transparent">
                        <i class="fas fa-lock"></i>
                    </span>
                    {{ form_widget(formPassword.plainPassword.second) }}
                </div>
                {{ form_errors(formPassword.plainPassword.second) }}
            </div>
        </div>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary btn-sm" type="submit">
            <i class="fas fa-edit"></i>
            Cambiar
        </button>
    </div>
{{ form_end(formPassword) }}