{% extends 'content.html.twig' %}

{% block title %}Gestión de usuarios y roles{% endblock %}

{% block content %}
    <h3 class="text-dark mb-4">Gestión de usuarios y roles</h3>
    {% embed "embeds/table.html.twig" with {'paginator': paginator} %}
        {% block card_header_css_class %}py-3{% endblock %}

        {% block card_title %}
            Usuarios y roles
        {% endblock %}

        {% block table_head %}
            <tr>
                {% if app.user.isAdmin() %}
                    <th></th>
                {% endif %}
                <th>Nombre y Apellidos</th>
                <th>Usuario</th>
                {% for role in roles %}
                    {% if role.isSuperAdmin() == false %}
                        <th>{{ role.capitalizeName() }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endblock %}

        {% block table_body %}
            {% for user in paginator.getData() %}
                {% if user.isSuperAdmin() == false %}
                    <tr>
                        <td>
                            {% if app.user.isAdmin() %}
                                <div class="form-check form-switch" {{ stimulus_controller('user-state', {
                                    'user':user.id,
                                    'url':path('user_state'),
                                }) }}
                                >
                                    <input
                                            class="form-check-input"
                                            type="checkbox"
                                            {{ stimulus_action('user-state', 'onChange', 'change') }}
                                            role="switch"
                                            {% if user.isActive() %}checked{% endif %}
                                    >
                                </div>
                            {% endif %}
                        </td>
                        <td>{{ user.getFullName() }}</td>
                        <td>{{ user.username }}</td>
                        {% for role in roles %}
                            {% if role.isSuperAdmin() == false %}
                                <td>
                                    <div class="form-check" {{ stimulus_controller('role', {
                                        'user':user.id,
                                        'role':role.id,
                                        'urlAddRole':path('add_role'),
                                        'urlRemoveRole':path('remove_role'),
                                    }) }}>
                                        <input
                                            type="checkbox"
                                            {{ stimulus_action('role', 'onChange', 'change')}} {# forma externa de manejar el evento #}
                                            {% if app.user.isSuperAdmin() == false and (role.blockChange() or user.blockRoles()) %}disabled{% endif %}
                                            {% if user.hasRole(role) %}checked{% endif%}
                                        >
                                    </div>
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td colspan="7">
                    No se encontraron registros
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}

        {% block table_footer %}
            {#                    <tr> #}
            {#                        <td><strong>Name</strong></td> #}
            {#                        <td><strong>Position</strong></td> #}
            {#                        <td><strong>Office</strong></td> #}
            {#                        <td><strong>Age</strong></td> #}
            {#                        <td><strong>Start date</strong></td> #}
            {#                        <td><strong>Salary</strong></td> #}
            {#                    </tr> #}
        {% endblock %}
    {% endembed %}


{% endblock %}
