{% embed "embeds/card.html.twig" %}
    {% block card_css_class %}mb-4{% endblock %}

    {% block card_header_css_class %}d-flex justify-content-between align-items-center{% endblock %}

    {% block card_title %}{{ title }}{% endblock %}

    {% block card_header_options %}
        <div>
            {% if showButton is defined and showButton == true %}
                <a class="btn btn-primary btn-sm active"
                   data-action="page#showFormContent"
                   href="{{ path('report_new') }}"
                >
                    <i class="fas fa-plus"></i>
                    Nuevo
                </a>
            {% endif %}
        </div>
    {% endblock %}

    {% block card_body %}
        <div class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Número:</th>
                        <td>{{ report.number }}</td>
                    </tr>
                    <tr>
                        <th>Estado:</th>
                        <td>
                            <span class="badge
                                {% if report.state is same as constant('App\\Entity\\Enums\\ReportState::Open') %}
                                    text-bg-info
                                {% endif %}
                                {% if report.state is same as constant('App\\Entity\\Enums\\ReportState::Close') %}
                                    text-bg-secondary
                                {% endif %}
                            ">
                                {{ report.state.getLabelFrom(report.state) }}
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th>Especialidad:</th>
                        <td>{{ report.specialty }}</td>
                    </tr>
                    <tr>
                        <th>Fecha de creación:</th>
                        <td>{{ report.entryDate|date('d/m/Y H:i:s') }}</td>
                    </tr>
                    {% if report.closeDate %}
                        <tr>
                            <th>Fecha de cerrado:</th>
                            <td>{{ report.closeDate|date('d/m/Y H:i:s') }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>Tipo:</th>
                        <td>{{ report.type.getLabelFrom(report.type) }}</td>
                    </tr>
                    <tr>
                        <th>Equipo:</th>
                        <td>
                            {% if is_granted('ROLE_BOSS') %}
                            <a href="{{ path('camera_show', {'id': report.equipment.id }) }}">
                                {{ report.equipment }}
                            </a>
                            {% else %}
                                {{ report.equipment }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Razón de interrupción:</th>
                        <td>
                            {% if report.interruptionReason == '1' %}
                                Pendiente por Revisión
                            {% endif %}

                            {% if report.interruptionReason == '2' %}
                                Pendiente por Conectividad
                            {% endif %}

                            {% if report.interruptionReason == '3' %}
                                Pendiente por Fluido eléctrico
                            {% endif %}

                            {% if report.interruptionReason == '4' %}
                                Pendiente por Cámara
                            {% endif %}

                            {% if report.interruptionReason == '5' %}
                                Pendiente por Modem
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Prioridad:</th>
                        <td>
                            <span class="badge
                                {% if report.priority is same as constant('App\\Entity\\Enums\\Priority::Hight') %}
                                    text-bg-danger
                                {% endif %}
                                {% if report.priority is same as constant('App\\Entity\\Enums\\Priority::Medium') %}
                                    text-bg-warning
                                {% endif %}
                                {% if report.priority is same as constant('App\\Entity\\Enums\\Priority::Low') %}
                                    text-bg-success
                                {% endif %}
                            ">
                                {{ report.priority.getLabelFrom(report.priority) }}
                            </span>
                        </td>
                    </tr>
{#                    {% if report.flaw and report.type is same as constant('App\\Entity\\Enums\\ReportType::Camera') %}#}
                        <tr>
                            <th>Desperfecto:</th>
                            <td>
                                {% if report.flaw == '1' %}
                                    Sin enlace
                                {% endif %}

                                {% if report.flaw == '-1' %}
                                    Otra
                                {% endif %}
                            </td>
                        </tr>
{#                    {% endif %}#}
                    <tr>
                        <th>Detalle:</th>
                        <td>{{ report.detail }}</td>
                    </tr>
                    <tr>
                        <th>Observaciones:</th>
                        <td>{{ report.observation }}</td>
                    </tr>
                    <tr>
                        <th>Solución:</th>
                        <td>{{ report.solution }}</td>
                    </tr>
                    {% if report.unit %}
                        <tr>
                            <th>Centro de gestión:</th>
                            <td>{{ report.unit }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>Objetivo:</th>
                        <td>{{ report.aim.getLabelFrom(report.aim) }}</td>
                    </tr>
                    <tr>
                        <th>Municipio:</th>
                        <td>{{ report.equipment.municipality }}</td>
                    </tr>
                    <tr>
                        <th>Provincia:</th>
                        <td>{{ report.equipment.municipality.province }}</td>
                    </tr>
                    <tr>
                        <th>Jefe:</th>
                        <td>{{ report.boss }}</td>
                    </tr>
                    <tr>
                        <th>Oficial de guardia:</th>
                        <td>{{ report.managementOfficer }}</td>
                    </tr>
                    {% if report.state is same as constant('App\\Entity\\Enums\\ReportState::Close') %}
                        <tr>
                            <th>Técnico:</th>
                            <td>{{ report.technical }}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        {#    {{ include('report/_delete_form.html.twig') }} #}
    {% endblock %}

    {% block card_footer %}
        {% if showButton is defined and showButton == true %}
            <div class="card-footer text-body-secondary">
                <div class="row">
                    <div class="col-6">
                        <a href="{{ path('report_index') }}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i>
                            Listado
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="{{ path('report_edit', {'id': report.id}) }}" class="btn btn-primary">
                            <i class="fas fa-edit"></i>
                            Editar
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endblock %}
{% endembed %}
