{# SIN PORT-DETAIL #}
<div class="col-3 mb-4">
    <div class="card text-white {{ port.connection }} {% if selected is same as port.id %}shadow-lg border-dark{% endif %}" >
        <div class="card-body" style="padding: 0.5rem">
            <div
                    class="row align-items-center no-gutters"
                    {% if port.isSelectable %}
                        data-action="dblclick->live#action"
                        data-action-name="select(portId={{ port.id }})"
                    {% endif %}
            >
                <div class="col-auto">
                    <i class="fas {% if port.equipment %}fa-check-circle{% else %}fa-circle{% endif %} fa-2x text-gray-300"></i>
                    {% if port.state %}<span>{% endif %}
                    <div class="form-check form-switch">
                        <input
                                class="form-check-input"
                                type="checkbox"
                                role="switch"
                                {% if port.state %}checked{% endif %}
                                data-action="change->live#action"
                                {% if port.state %}
                                    data-action-name="deactivatePort(portId={{ port.id }})"
                                {% else %}
                                    data-action-name="activatePort(portId={{ port.id }})"
                                {% endif %}
                        >
                    </div>
                    {% if port.state %}</span>{% endif %}
                </div>
                <div class="col me-2">
                    <div class="text-uppercase text-white fw-bold text-xs mb-1">
                        {% if editingSpeed == port.id %}
                            <input
                                    type="text"
                                    data-model="norender|speed"
                                    class="w-25"
                                    data-action="blur->live#action"
                                    data-action-name="saveSpeed(port={{ port.id }})"
                            >
                        {% else %}
                            <span title="Click para editar"
                                    class="w-25 d-inline-block"
                                    data-action="click->live#action"
                                    data-action-name="activateEditingSpeed(portId={{ port.id }}, speed={{ port.speed }})"
                                    style="cursor: pointer"
                            >
                                {{ port.speed }}
                            </span>
                        {% endif %}
                        <span>{{ constant('App\\Entity\\Port::SPEED_TYPE')}} -</span> <span class="{{ port.equipment_state }}">{{ port.equipment }}</span>
                    </div>
                    <h5 class="card-title">Puerto: <span class="fw-bold">{{ port.number }}</span></h5>
                    {% if editingType == port.id %}
                        <select style="font-size: 11.5px"
                                data-model="norender|type"
                                data-action="change->live#action blur->live#action"
                                data-action-name="saveType(port={{ port.id }})"
                        >
                            {% for label, value in forSelect %}
                                {% if value is not same as "" %}
                                    <option value="{{ value }}">
                                        {{ label }}
                                    </option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    {% else %}
                        <h6 class="card-subtitle mb-2" title="Click para editar"
                            data-action="click->live#action"
                            data-action-name="activateEditingType(portId={{ port.id }}, type={{ port.type_value }})"
                        >
                            {{ port.type_label }}
                        </h6>
                    {% endif %}

                </div>
            </div>
        </div>
{#        <backdrop-component data-loading="addClass(d-block)" class="card-backdrop"></backdrop-component>#}
    </div>


</div>