<div class="col-4" {{ attributes.defaults(stimulus_controller('switch-detail', { commutator: commutator.id })) }}>
    <h4>Características del switch:</h4>
    <hr>
    <div class="card text-bg-info border-primary">
        <div class="card-header text-bg-info d-flex justify-content-between align-items-center">
            <p class="text-white m-0 fw-bold">Detalles:</p>
            <div class="row">
{#                <div class="col-auto">#}
{#                    <div class="form-check form-switch">#}
{#                        <input#}
{#                                class="form-check-input"#}
{#                                type="checkbox"#}
{#                                role="switch"#}
{#                                {% if active %}checked{% endif %}#}
{#                                {% if active %}#}
{#                                    data-action="change->switch-detail#deactivate"#}
{#                                {% else %}#}
{#                                    data-action="change->live#action"#}
{#                                    data-action-name="activate(commutator={{ commutator.id }})"#}
{#                                {% endif %}#}
{#                        >#}
{#                    </div>#}
{#                </div>#}

{#                <div class="col">#}
{#                    <a#}
{#                            type="button"#}
{#                            class="btn btn-primary btn-sm"#}
{#                            aria-current="page"#}
{#                            href=""#}
{#                    >#}
{#                        <i class="fas fa-edit"></i>#}
{#                        Editar#}
{#                    </a>#}
{#                </div>#}

                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                    <!-- BOTON DE DESACTIVAR -->
                    <input
                            type="checkbox"
                            class="btn-check btn-primary"
                            id="btncheck1"
                            autocomplete="off"
                            {% if active %}checked{% endif %}
                            {% if active %}
                                data-action="change->switch-detail#deactivate"
                            {% else %}
                                data-action="change->live#action"
                                data-action-name="activate(commutator={{ commutator.id }})"
                            {% endif %}
                    >
                    <label class="btn btn-primary" for="btncheck1">
                        <i class="fas {% if active %}fa-check-circle text-white{% else %}fa-circle text-white-50{% endif %} "></i>
                    </label>
                    <!-- BOTON DE DESACTIVAR -->
                    <button type="button" class="btn btn-primary">
                        <i class="fas fa-edit text-white"></i>
                        Editar
                    </button>
                </div>

            </div>
        </div>

        {# no es necesario usar updateFromParent, en el data, pues se pasa el data-live-id y esto lleva a que el componente se construya completo #}
        {{ component('CommutatorhDetailEditInline', {
            label: 'IP:',
            data: commutator.ip,
            id: commutator.id,
            setter: 'setIp',
            constraints: [
                {'class': 'NotBlank', 'options': {message:'Establezca el IP del equipo.'}},
                {'class': 'Ip', 'options': {message:'Establezca un IP válido.'}}
            ],
            'data-live-id': 'ip-'~ commutator.id
        }) }}

        {{ component('CommutatorhDetailEditInline', {
            label: 'Gateway:',
            data: commutator.gateway,
            id: commutator.id,
            setter: 'setGateway',
            constraints: [
                {'class': 'NotBlank', 'options': {message:'Establezca el IP gateway del equipo.'}},
                {'class': 'Ip', 'options': {message:'Establezca un IP gateway válido.'}}
            ],
            'data-live-id': 'gateway-'~ commutator.id
        }) }}

        {{ component('CommutatorhDetailEditInline', {
            label: 'Inventario:',
            data: commutator.inventary,
            id: commutator.id,
            setter: 'setInventory',
            'data-live-id': 'inventory-'~ commutator.id
        }) }}

        {{ component('CommutatorhDetailEditInline', {
            label: 'Dirección física:',
            data: commutator.physical_address,
            id: commutator.id,
            setter: 'setPhysicalAddress',
            constraints: [
                {'class': 'NotBlank', 'options': {message:'La dirección física no debe estar vacía.'}}
            ],
            'data-live-id': 'physical_address-'~ commutator.id
        }) }}

        {{ component('CommutatorhDetailEditInline', {
            label: 'Marca:',
            data: commutator.brand,
            id: commutator.id,
            setter: 'setBrand',
            'data-live-id': 'brand-'~ commutator.id
        }) }}

        {{ component('CommutatorhDetailEditInline', {
            label: 'Modelo:',
            data: commutator.model,
            id: commutator.id,
            setter: 'setModel',
            'data-live-id': 'model-'~ commutator.id
        }) }}

        {{ component('CommutatorhDetailEditInline', {
            label: 'Contic:',
            data: commutator.contic,
            id: commutator.id,
            setter: 'setContic',
            'data-live-id': 'contic-'~ commutator.id
        }) }}

        {{ component('CommutatorhDetailEditInline', {
            label: 'Serie:',
            data: commutator.serial,
            id: commutator.id,
            setter: 'setPhysicalSerial',
            'data-live-id': 'serial-'~ commutator.id
        }) }}

        {{ component('CommutatorhDetailEditInline', {
            label: 'Provincia:',
            data: commutator.province,
            id: commutator.id,
            editable: false,
            'data-live-id': 'province-'~ commutator.id
        }) }}

        {{ component('CommutatorhDetailEditInline', {
            label: 'Municipio:',
            data: commutator.municipality,
            last: true,
            id: commutator.id,
            editable: false,
            'data-live-id': 'municipality-'~ commutator.id
        }) }}

{#        <backdrop-component data-loading="addClass(d-block)" style="display: none;position: absolute;width: 100%;height: 100%;"></backdrop-component>#}
    </div>
</div>