<div {{ attributes }}>
    {% embed "embeds/card.html.twig" %}
        {% block card_css_class %}mb-4{% endblock %}

        {% block card_header_css_class %}d-flex justify-content-between align-items-center{% endblock %}

        {% block card_title %}Switch{% endblock %}

        {% block card_header_options %}
            <div>
                <button class="btn btn-primary btn-sm active" aria-current="page" data-bs-toggle="modal" data-bs-target="#add-switch">
                    <i class="fas fa-plus"></i>
                    Nuevo
                </button>
            </div>
        {% endblock %}

        {% block card_body %}
            {{ component('ConnectionCommutatorTable', {connection: connection}) }}
{#            {% if commutator is not null %}#}
{#                {{ dump(commutator.id) }}#}
                <div class="row">
                    {{ component('ConnectionCommutatorDetail', {connection: connection}) }}
                    {{ component('ConnectionCommutatorPortList', {connection: connection}) }}
                </div>
{#            {% endif %}#}
        {% endblock %}
    {% endembed %}

    <!-- Modal -->
    {{ component('ModalForm', {
        title: 'Agregar Switch',
        src: 'ConnectionCommutatorNew',
        vars: {
            connection: connection
        },
        type: 'component',
        id: 'add-switch'
    }) }}
    <!-- Modal -->
</div>

