<div
        class="col-4"
        {% if commutator is not null %}
            {{ attributes.defaults(stimulus_controller('commutator-detail', { commutator: commutator.id })) }}
        {% else %}
            {{ attributes }}
        {% endif %}
>
    {% if commutator is not null %}
        <h4>Características del switch:</h4>
        <hr>
        <div class="card text-bg-info border-primary">
            <div class="card-header text-bg-info d-flex justify-content-between align-items-center">
                <p class="text-white m-0 fw-bold">Detalles:</p>
                <div class="row">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <!-- BOTON DE DESACTIVAR -->
                        <input
                                type="checkbox"
                                class="btn-check btn-primary"
                                id="btncheck1"
                                autocomplete="off"
                                {% if active %}checked{% endif %}
                                {% if active %}
                                    data-action="change->commutator-detail#deactivate"
                                {% else %}
                                    data-action="change->live#action"
                                    data-action-name="activate(entityId={{ commutator.id }})"
                                {% endif %}
                        >
                        <label class="btn btn-primary" for="btncheck1">
                            <i class="fas {% if active %}fa-check-circle text-white{% else %}fa-circle text-white-50{% endif %} "></i>
                        </label>
                        <!-- BOTON DE DESACTIVAR -->
                        <button type="button" class="btn btn-primary">
                            <i class="fas fa-edit text-white"></i>
                            Editar
                        </button>
                    </div>

                </div>
            </div>

            {# no es necesario usar updateFromParent, en el data, pues se pasa el data-live-id y esto lleva a que el componente se construya completo #}
            {{ component('ConnectionCommutatorDetailEditInline', {
                label: 'IP:',
                data: commutator.ip,
                id: commutator.id,
                setter: 'setIp',
                connection: connection,
                constraints: [
                    {'class': 'NotBlank', 'options': {message:'Establezca el IP del equipo.'}},
                    {'class': 'Ip', 'options': {message:'Establezca un IP válido.'}}
                ],
                'data-live-id': 'ip-'~ commutator.id
            }) }}

            {{ component('ConnectionCommutatorDetailEditInline', {
                label: 'Gateway:',
                data: commutator.gateway,
                id: commutator.id,
                setter: 'setGateway',
                connection: connection,
                constraints: [
                    {'class': 'NotBlank', 'options': {message:'Establezca el IP gateway del equipo.'}},
                    {'class': 'Ip', 'options': {message:'Establezca un IP gateway válido.'}}
                ],
                'data-live-id': 'gateway-'~ commutator.id
            }) }}

            {{ component('ConnectionCommutatorDetailEditInline', {
                label: 'Inventario:',
                data: commutator.inventary,
                id: commutator.id,
                setter: 'setInventory',
                connection: connection,
                'data-live-id': 'inventory-'~ commutator.id
            }) }}

            {{ component('ConnectionCommutatorDetailEditInline', {
                label: 'Dirección física:',
                data: commutator.physical_address,
                id: commutator.id,
                setter: 'setPhysicalAddress',
                connection: connection,
                constraints: [
                    {'class': 'NotBlank', 'options': {message:'La dirección física no debe estar vacía.'}}
                ],
                'data-live-id': 'physical_address-'~ commutator.id
            }) }}

            {{ component('ConnectionCommutatorDetailEditInline', {
                label: 'Marca:',
                data: commutator.brand,
                id: commutator.id,
                setter: 'setBrand',
                connection: connection,
                'data-live-id': 'brand-'~ commutator.id
            }) }}

            {{ component('ConnectionCommutatorDetailEditInline', {
                label: 'Modelo:',
                data: commutator.model,
                id: commutator.id,
                setter: 'setModel',
                connection: connection,
                'data-live-id': 'model-'~ commutator.id
            }) }}

            {{ component('ConnectionCommutatorDetailEditInline', {
                label: 'Contic:',
                data: commutator.contic,
                id: commutator.id,
                setter: 'setContic',
                connection: connection,
                'data-live-id': 'contic-'~ commutator.id
            }) }}

            {{ component('ConnectionCommutatorDetailEditInline', {
                label: 'Serie:',
                data: commutator.serial,
                id: commutator.id,
                setter: 'setPhysicalSerial',
                connection: connection,
                'data-live-id': 'serial-'~ commutator.id
            }) }}

            {{ component('ConnectionCommutatorDetailEditInline', {
                label: 'Provincia:',
                data: commutator.province,
                id: commutator.id,
                editable: false,
                connection: connection,
                'data-live-id': 'province-'~ commutator.id
            }) }}

            {{ component('ConnectionCommutatorDetailEditInline', {
                label: 'Municipio:',
                data: commutator.municipality,
                last: true,
                id: commutator.id,
                editable: false,
                connection: connection,
                'data-live-id': 'municipality-'~ commutator.id
            }) }}
        </div>
    {% endif %}
</div>

